@import "variables";

html{
  font-size: 87.5%;
  font-family: $font_family;
}
body, .pane, .view{
  background-color: $body_bg_color;
}
body, .ionic-body{
  font-family: $font_family;
  line-height: 18px;
}
a{
  text-decoration: none;
  color: #2fa4e7;
}
// see 
input{
  -webkit-appearance: none;
  -moz-appearance: none;
}
// float
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}

.tl{
  text-align: left !important;
}
.tr{
  text-align: right !important;
}
.tc{
  text-align: center !important;
}
.ml{
  margin-left: 0.5rem !important;
}
.mr{
  margin-right: 0.5rem !important;
}
.pl{
  padding-left: 0.5rem !important;
}
.pr{
  padding-right: 0.5rem !important;
}
.padding-bottom-0{
  padding-bottom: 0px !important; 
}
.padding-bottom-5{
  padding-bottom: 5px !important; 
}
.padding-top-5{
  padding-top: 5px !important; 
}
.padding-left-5{
  padding-left: 5px !important; 
}
.padding-right-5{
  padding-right: 5px !important; 
}
.padding-left-right-5{
  @extend .padding-left-5;
  @extend .padding-right-5;
}
.padding-5{
  @extend .padding-left-right-5;
  @extend .padding-top-5;
  @extend .padding-bottom-5;
}
.padding-right-10{
  padding-right: 10px !important; 
}
.padding-bottom-10{
  padding-bottom: 10px !important; 
}
.padding-top-bottom-10{
  @exstend .padding-bottom-10;
  padding-top: 10px !important; 
}
.full{
  width: 100% !important;
}
.blocked{
  display: block !important;
}
.input-label{
  font-size: 1rem;
  padding: 0.5rem 0.71428571428rem 0.5rem 0;
  width: 25%;
}
// button related
.button{
  @extend .r5;
  font-size: 16px !important;
  padding: 0 0.5rem;
  border: 0;
  height: 2.78571428571rem;
  max-height: 2.78571428571rem;
  min-height: 2.78571428571rem;
  line-height: 2.64285714286rem !important;
}
ion-option-button.button{
  max-height: 100%;
  height: 100%;
}
.button.button-grey{
  color: $grey;
}
.button.button-short{
  height: 2rem;
  max-height: 2rem;
  min-height: 2rem;
  line-height: 2rem !important;
  font-size: 14px !important;
}
.button.button-20{
  width: 20%;
  max-width: 20%;
}
.button.button-25{
  width: 25%;
  max-width: 25%;
}
.button.button-30{
  width: 30%;
  max-width: 30%;
}
.button.button-outline{
  border: $border_ccc;
}
.button.button-positive, .button.button-balanced, .button.button-energized, .button.button-assertive {
  color: #ffffff;
  border-color: #dddddd;
}

.button.icon-left{
  padding-left: 3rem;
}
.button.icon-right {
  padding-right: 3.85714285714rem;
}

// col
.col-15 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%; 
}
.col-17-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 17.5%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 17.5%;
  -ms-flex: 0 0 17.5%;
  flex: 0 0 17.5%;
  max-width: 17.5%; 
}
.col-30 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%; 
}
.col-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%; 
}
.col-offset-15 {
  margin-left: 15%; 
}
.col-offset-17-5 {
  margin-left: 17.5% !important; 
}
.col-offset-30 {
  margin-left: 30%; 
}

.nowrap{
  text-overflow:ellipsis !important;
  overflow:hidden !important;
  white-space:nowrap !important;
}
.wrapped{
  white-space: normal !important;
}
// text
.text{
  text-overflow:ellipsis !important;
  overflow:hidden !important;
  white-space:nowrap !important;
}
.text-muted {
  color: $muted !important;
}
.text-grey{
  color: $grey !important;
}
.text-energized{
  color: $energized;
}
.text-balanced{
  color: $balanced;
}
.text-assertive{
  color: $assertive;
}
.text-dark{
  color: $dark;
}
.text-sub {
  font-size: 12px !important;
  line-height: 15px !important;
}
.text-sub-muted {
  @extend .text-muted;
  @extend .text-sub;
}
.text-16{
  font-size: 16px !important;
  line-height: 20px !important;
}
.text-18{
  font-size: 18px !important;
  line-height: 23px !important;
}
.text-21{
  font-size: 21px !important;
  line-height: 27px !important;
}

// radius
.r5, .radius-5{
  border-radius: 0.35714285714rem !important;
}

// show alert message
.alert-container{
  text-align: center;
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  z-index: -9;
  .alert {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    background-color: #505050;
  }
}
.alert-container.active{
  z-index: 9;
}

.padding .row{
  padding: 5px 0;
}

// container
.wrapped-container{
  display: block;
  overflow: hidden;
  white-space: normal;
}
.row + .row{
  padding-top: 0.71428571428rem;
  margin-top: -1px;
}

.has-footer{
  bottom: 49px;
}
// bar
.bar{
  .title{
    font-weight: bold;
    font-size: 1.3rem;
  }
  .button + .button:last-child{
    position: relative;
    top: inherit;
    right: inherit;
    bottom: inherit;
  }
}
.bar-footer{
  height: 3.5rem;
  padding: 5px 5px 5px 10px;
  background-color: $tab_bg_color;
  .col{
    padding-left: 0;
  }
}
.bar-header{
  .button.back-button{
    line-height: 32px !important;
  }
}
// item
.item {
  font-size: 1rem;
  padding: 0.71428571428rem;
  border-color: $border_default_color;
  border-left: 0;
  border-right: 0;
  a{
    color: #444;
  }
  .row{
    padding: 0;
  }
}
.item.row{
  .col{
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.item.item-input-inset {
  padding: 0.75rem;
}
.item-icon-right {
  padding-right: 3rem;
  .icon{
    right: 4px;
  }
}
.item-icon-left {
  padding-left: 3.17857142857rem;
  .icon.pys-350{
    @extend .pys-350;
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    left: 0.71428571428rem;
    right: 0.71428571428rem;
  }
}
.item-divider{
  min-height: 0.71428571428rem;
  height: 0.71428571428rem;
  padding: 0 !important;
}
.item-select select {
  width: 100%;
  max-width: 75%;
  direction: inherit;
  padding: 1.5rem 3rem 1.5rem 0;
}
.item-icon-left .icon.pys-350, .item-icon-right .icon.pys-350, .icon-left .icon.pys-350, .icon-right .icon.pys-350 {
  @extend .pys-350;
  font-size: 1rem;
  position: absolute;
  top: 0.55357142857rem;
  left: 0.71428571428rem;
  right: 0.71428571428rem;
}
.icon.ion-ios7-arrow-right, .icon.ion-ios7-arrow-down, .icon.ion-loading-d{
  color: #c4c4c4;
  font-size: 2rem;
}
.item-text{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

// background images
.pys-bg{
  background:url($pys_icon) 0 0 no-repeat;
  display: inline-block;
}
.pys-400{
  @extend .pys-bg;
  background-size: 28.5714285714rem 28.5714285714rem;
}
.pys-350{
  @extend .pys-bg;
  background-size: 25rem 25rem;
}
.pys-280{
  @extend .pys-bg;
  background-size: 20rem 20rem;
}
.pys-350.bg-cart {
  background-position:-10.84rem 0;
  width:2.09rem;
  height:1.55rem;
}
.pys-350.icon-edit{
  width: 1.58333333333rem;
  height: 1.58333333333rem;
  background-position: -9.16666666667rem -10rem;
}
.pys-350.icon-save{
  width:1.167rem;
  height:1rem;
  background-position: -17.5rem 0;
}
.pys-350.icon-circle{
  width:1.75rem;
  height:1.75rem;
  background-position: -19.10rem 0;
}
.pys-350.icon-circle-checked{
  width:1.75rem;
  height:1.75rem;
  background-position: -21.25rem 0;
}
.pys-350.icon-delete{
  width:1.75rem;
  height:1.75rem;
  background-position: -23.33rem 0;
}
.pys-350.icon-trash{
  width: 1.75rem;
  height: 1.75rem;
  background-position: -20rem -7.5rem;
}
.pys-350.icon-star{
  background-position:-2.084rem 0;
  width:1rem;
  height:1rem; 
}
.pys-350.icon-star-gray{
  background-position:-3.5rem 0;
  width:1rem;
  height:1rem;      
}
.pys-350.icon-avatar {
  background-position: 0 -7.5rem;
  width: 4.375rem;
  height: 4.375rem;
}
.pys-350.icon-home {
  background-position: 0 -5.41666666667rem;
}
.pys-350.icon-stores {
  background-position: -2.16666666667em -5.41666666667em;
}
.pys-350.icon-tryings {
  background-position: -4.25em -5.41666666667em;
}
.pys-350.icon-cart {
  background-position: -10.7083333333em 0;
}
.pys-350.icon-my {
  background-position: -6.3em -5.41666666667em;
}
.pys-350.icon-pyshuo{
  background-position: -5.83333333333em -10em;
}
.pys-350.icon-user{
  background-position: 0 0;
}
.pys-350.icon-right{
  background-position: -16.25rem -12rem;
  width: 2.28571428571rem;
}
.pys-400.icon-add{
  width: 2.28571428571rem;
  height: 2.28571428571rem;
  background-position: -14.7619047619rem -3.80952380952rem;
}
.pys-400.icon-reduce{
  width: 2.28571428571rem;
  height: 2.28571428571rem;
  background-position: -11.4285714286rem -3.80952380952rem;
}
.pys-280.icon-add{
  width: 1.71428571429rem;
  height: 1.71428571429rem;
  background-position: -10.3333333333rem -2.66666666667rem;
}
.pys-280.icon-reduce{
  width: 1.71428571429rem;
  height: 1.71428571429rem;
  background-position: -8rem -2.66666666667rem;
}
.pys-280.icon-my-order{
  background-position: -4.66666666667rem -6rem;
  width: 1.67rem;
  height: 1.6rem;
}
.pys-280.icon-my-coupon{
  background-position: -8.66666666667rem -6rem;
  width: 1.67rem;
  height: 1.6rem;
}
.pys-280.icon-my-offer{
  background-position: -10.6666666667rem -6rem;
  width: 1.67rem;
  height: 1.6rem;
}
.pys-280.icon-my-address{
  background-position: -12.6666666667rem -6rem;
  width: 1.67rem;
  height: 1.6rem;
}

// tabs
.tabs{
  background-color: $tab_bg_color;
}
.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
  font-size: 1rem;
  line-height: 14px;
}
.tab-item{
  line-height: 1rem;
  padding-top: 0.2143rem;
  .icon{
    @extend .pys-350;
    font-size: 1rem;
    width: 1.91666666667rem;
    height: 1.8rem;
    vertical-align: text-bottom;
  }
  .tab-title{
    display: block;
  }
}

.tab-item-active {
  color: $balanced;
  .pys-350.icon-home {
    background-position: 0 -3.33333333333em;
  }
  .pys-350.icon-stores {
    background-position: -2.16666666667em -3.33333333333em;
  }
  .pys-350.icon-tryings {
    background-position: -4.25em -3.33333333333em;
  }
  .pys-350.icon-cart {
    background-position: -12.7916666667em 0;
  }
  .pys-350.icon-my {
    background-position: -6.3em -3.33333333333em;
  }
}

// badge
.badge{
  line-height: 1em;
  padding: 0 4px;
  font-weight: normal;
}
.badge.badge-right-top{
  position: absolute;
  top: 4px;
  right: 5px;
}

.card{
  .item.item-text{
    margin: 0.5em 0 0 0;
    padding: 0;
    border: 0;
  }
}

.slider {
  .slider-slides {
    .slider-slide a img {
      height: 12em;
      width: 100%;
    }
  }
  .slider-pager{
    bottom: 10px;
  }
}

.centered-container{
  text-align: center;
  .message{
    display: block;
    margin-bottom: 1rem;
  }
  .no-content{
    @extend .pys-400;
    margin-top: 50%;
    margin-bottom: 0.5rem;
  }
  .no-content.no-address{
    background-position: -25rem -8.57142857143rem;
    height: 5.04761904762rem;
    width: 3.38095238095rem;
  }
  .no-content.no-orders{
    background-position: 0 -14.2857142857rem;
    height: 5.80952380952rem;
    width: 4.85714285714rem;
  }
  .no-content.no-coupons{
    background-position: -6.19047619048rem -14.2857142857rem;
    height: 3.71428571429rem;
    width: 5.42857142857rem;
  }
  .no-content.no-cart-items{
    background-position:-20em -3.80952380952rem;
    width: 5.7619047619rem;
    height: 4.38095238095rem;
  }
  .no-content.no-network{
    margin-top: 40%;
    background-position: 0.5rem -20.5rem;
    width: 6.5rem;
    height: 6.5em;
  }  
}

// item-avatar general
.item-avatar-left {
  padding-left: 3.42857142857em;
  min-height: 50px;
  .button{
    max-height: 2rem;
    min-height: 2rem;
    height: 2rem;
    line-height: 26px;
  }
  div{
    height: 2rem;
    line-height: 2rem;
  }
}
.item-avatar-left > img:first-child, .item-avatar-left .item-image {
  top: 11px;
  left: 10px;
  max-width: 2rem;
  max-height: 2rem;
  height: 2rem;
  width: 2rem;
}
// item-thumbnail
.item-thumbnail-left {
  padding-left: 6.4em;
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 6.4em;
  .icon.pys-350{
    font-size: 1rem;
    top: 2.325rem;
  }
}
.item-thumbnail-left > img:first-child {
  top: 1rem;
  left: 0.7rem;
  max-width: 5rem;
  max-height: 5rem;
  height: 3.75em;
  width: 5em;
}
.item-icon-left.item-thumbnail-left {
  padding-left: 8.89285714286em;
}
.item-icon-left.item-thumbnail-left > img:first-child {
  left: 3.17857142857em;
}

// item-image-mini
.item-image-mini-left {
  padding-left: 2rem;
  position: relative;
}
.item-image-mini-left > img:first-child, .item-image-mini-left .item-image {
  position: absolute;
  top: 0rem;
  left: 0rem;
  max-width: 1.42857142857rem;
  max-height: 1.42857142857rem;
  height: 1.42857142857rem;
  width: 1.42857142857rem;
}

// ion-item
ion-content{
  margin-bottom:0.5rem;
}

ion-item.item {
  padding: 0;
  .item-content{
    padding: 0;
  }
}

.popup-container {
  .popup{
    border-radius: 5px;
    background-color: white;
    .popup-head {
      border-bottom: $border_default;
      padding: 20px 10px;
    }
    .popup-buttons{
      padding: 0;
      min-height: inherit;
      .button{
        color: $balanced;
        border: 0;
        background-color: white;
        border-right: $border_default;
        margin: 0;
      }
    }
  }
}

//
.elements{
  display: block;
  overflow: hidden;
  white-space: normal;
  padding-left: 0.71428571428rem;
  .element-container{
    display: inline-block;
    width: 50%;
    margin-top: 0.71428571428rem;
    .element{
      background-color: #fff;
      margin-right: 0.71428571428rem;
      border: $border_default;
      a{
        color: $grey;
      }
    }
  }
}

// article
.article{
  p{
    @extsend .wrapped;
  }
  img{
    width:100%;
  }
  table{
    border: $border_ccc;
    tr{
      td{
        @extsend .wrapped;
        border: $border_ccc;
      }
    }
  }
}

// number-span
.number-span{
  position: relative;
  display: block;
  .icon-reduce, .icon-add{
    position: absolute;
    top: 0;
    border: $border_default;
  }
  .icon-reduce{
    left: 0;
  }
  .icon-add{
    right: 0;
  }
  .count{
    text-align: center;
    border-top: $border_default; 
    border-bottom: $border_default; 
    border-left: 0;
    border-right: 0;
    background-color: #fff;
    color: $dark;
  }
}

// fix ng-cloak, see http://www.cnblogs.com/whitewolf/p/3495822.html
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{
  display:none !important;
}