@import "variables";

.cart{
  .item{
    .item-thumbnail-left > img:first-child{
      top: 1.33928571429rem;
    }
    .item-icon-right{
      padding-right: 4.5rem;
      .icon{
        right: 0.5rem;
      }
    }
    .number-span{
      margin-top: 5px;
      .count{
        display: inline-block;
        border-top: 1px solid $border_color;
        border-bottom: 1px solid $border_color;
        width: 34%;
        input{
          background-color: #fff;
          text-align: center;
          border: 0;
        }
      }
    }
  }
  .centered-container{
    .no-cart-items{
      margin-left: 1rem;
    } 
    .button{
      padding: 0 1rem;
    }
  }
  .bar-footer{
    .icon.pys-350{
      top: 1rem;
    }
  }
}