@import "variables";

.cart{
  .item{
    .item-thumbnail-left > img:first-child{
      top: 1.33928571429rem;
    }
    .item-icon-right{
      padding-right: 4.5rem;
      .icon{
        right: 0.5rem;
      }
    }
  }
  .centered-container{
    .no-cart-items{
      margin-left: 1rem;
    } 
    .button{
      padding: 0 1rem;
    }
  }
  .bar-footer{
    .icon.pys-350{
      top: 1rem;
    }
  }
}