@import "variables";

.category{
  .card.product{ 
    padding-top: 0.5em;
    border-bottom: 1px #dddddd solid;
    margin: 0;
    .item{
      border: 0;
      padding: 0.4em 0.833em 0 0.5em;
    }
    .product-name{
      font-size: 1em;
    }
    .item-image img{
      text-align: center;
      width: 8.8em;
      height: 6.6em;
    }
    .item-avatar{
      padding-left: 2.75em;
      min-height: 2em;
      img{
        width: 2.25em;
        height: 2.3em;
      }
      .brand-name{
        font-size: 0.85em;
        color: #999999;
        font-weight: normal;
        display: block;
        padding-left: 0.4em;
        padding-top: 0.1em;
      }
      .prices{
        font-size: 0.75em;
        color: #ff9000;
        font-weight: normal;
        padding-left: 0.4em;
        .price-current{
          color: #ff9000;
          font-size: 1.25em;
        }
        .price-original{
          font-size: 1em;
          color: #999999;
          text-decoration: line-through;
        }
      }
    }
  } 
}