@import "variables";

.category{
  .element-container{
    .element{
      .product-image{
        max-height: 150px;
      }
      .image-left{
        position: relative;
        padding-left: 3.5em;
        img{
          position: absolute;
          left: 0.5em;
          top: 0.3em;
          width: 2.25em;
          height: 2.3em;
        }
      }
    }
  }
  .product-container + .product-container {
    .product{
      margin-left: 0;
    }
  }
}