@import "variables";

.category{
  .element-container{
    .element{
      a{
        color: $grey;
        .product-name{
          padding: 0.1em 0.5em;
        }
        .product-image{
          width: 100%;
          display: block;
          padding-bottom: 0.5em;
        }
      }
      .image-left{
        position: relative;
        padding-left: 3.5em;
        img{
          position: absolute;
          left: 0.5em;
          top: 0.3em;
          width: 2.25em;
          height: 2.3em;
        }
      }
    }
  }
  .product-container + .product-container {
    .product{
      margin-left: 0;
    }
  }
}