$pyshuo_icon: '/img/mobilev1/pyshuo_icon.png';

a{
  text-decoration: none;
  color: #2fa4e7;
}
.fl, .pull-left {
  float: left;
}
.fr, .pull-right{
  float: right; 
}

.card .item{
  font-size: 14px;
}

.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item{
  font-size: 14px;
  line-height: 14px;
  .icon{
    background: url($pyshuo_icon) 0 0 no-repeat;
    font-size: 14px;
    width: 1.9167em;
    height: 1.5em;
    background-size: 25em 25em;
    display: inline-block;
    vertical-align: text-bottom;
  }
  .icon.icon-home {
    background-position: 0 -2.083em;
  }
  .icon.icon-sharings {
    background-position: -4.167em -2.083em;
  }
  .icon.icon-tryings {
    background-position: -6.25em -2.083em;
  }
  .icon.icon-shopping-carts {
    background-position: -2.083em -2.083em;
  }
  .icon.icon-my {
    background-position: -8.333em -2.083em;
  }
  .tab-title{
    display: block;
  }
}

.tabs-icon-top > .tabs .tab-item.tab-item-active, .tabs-icon-top.tabs .tab-item.tab-item-active, .tabs-icon-bottom > .tabs .tab-item.tab-item-active, .tabs-icon-bottom.tabs .tab-item.tab-item-active {
  color: #29ac0e;
  .icon.icon-home {
    background-position: 0 0;
  }
  .icon.icon-sharings {
    background-position: -4.167em 0;
  }
  .icon.icon-tryings {
    background-position: -6.25em 0;
  }
  .icon.icon-shopping-carts {
    background-position: -2.083em 0;
  }
  .icon.icon-my {
    background-position: -8.333em 0;
  }
}

.radius10 {
  -moz-border-radius: 0.417em;
  -webkit-border-radius: 0.417em;
  border-radius: 0.417em;
}

.categories {
  .list .item {
    img{
      height: 3.25em;
    }
    span{
      display: block;
    }
    .title{
      color: #29ac0e;
      text-decoration: none;
      font-size: 1.417em;
      line-height: 1.667em;

    }
    .explain {
      color: #999999;
      text-decoration: none;
      font-size: 1em;
      line-height: 1.2em;
    }
  }
}

.category{
  .item-body{
    .item-price{
      font-size: 1.25em;
      color: #ffa200;
      display: inline;
    }
    .item-price-original{
      font-size: 1em;
      color: #999999;
      display: inline;
      text-decoration: line-through;
    }  
  } 
}

.pane-secondary{
  margin-top: 50px;
  padding-top: 15px;
}

.my{
  .item.head{
    display: block;
    text-decoration: none;
    color: #29ac0e;
    font-size: 1.25em;
    outline: none;
    img{
      display: block;
      width: 2.708em;
      height: 2.708em;    
    }
    .name{
      padding-left: 0.833em;
      line-height: 2.708em;
    }
  }
}

h3.items-tag{
  margin: 0 0.833em 0.625em 0.833em;
  a{
    color: #29ac0e;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei', 'Simsun';
}

.card.card-product{
  display: inline-block;
  margin: 0 0.433em 1.75em 0.433em;
  padding: 0 0.433em 1.75em 0.433em;
  width: 49.0%;
  box-shadow: 0 0 0;
  img{
    max-height: 100%;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
  }
  .item{
    padding: 0;
    border: 0;
  }
  .item-text-wrap a{
    font-size: 0.8em;
    color: #333333;
  }
  .item-avatar{
    padding-left: 2.4em;
    padding-top: 0.2em;
  }
  .item-avatar > img:first-child{
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    max-width: 2em;
    max-height: 2em;
    border-radius: 4px;
  }
}

.home{
  .row{
    height: 8em;
    border-bottom: 1px #dddddd solid;
    border-top: 1px #dddddd solid;
    margin-bottom: 0.625em;
    padding: 0em;
    .brand{
      img{
        width: 100%;
        background-color: #eeeeee;
      }
    }
    .product-name{
      font-size: 0.667em;
      font-weight: normal;
      padding-top: 0.833em;
      padding-bottom: 0.2em;
    }
    .brand-name{
      font-size: 0.667em;
      padding-bottom: 0.2em;
      color: #999999;
      margin: 0 0;
    }
    .product-image{
      width: 6em;
      height: 4.5em;
    }
  }
}

.category{
  .card.product{
    padding-top: 0.5em;
    border-bottom: 1px #dddddd solid;
    .item{
      border: 0;
      padding: 0.4em 0.833em 0 0.833em;
    }
    .product-name{
      font-size: 1em;
      padding-top: 0.6em;
    }
    .item-image img{
      text-align: center;
      width: 8.8em;
      height: 6.6em;
    }
    .item-avatar{
      padding-left: 2.75em;
      img{
        left: 0.5em;
        top: 0.5em;
        width: 2.25em;
        height: 2.3em;
      }
      .brand-name{
        font-size: 0.85em;
        color: #999999;
        font-weight: normal;
        display: block;
        padding-left: 0.4em;
        padding-top: 0.1em;
      }
      .prices{
        font-size: 0.75em;
        color: #ff9000;
        font-weight: normal;
        padding-left: 0.4em;
        .price-current{
          color: #ff9000;
          font-size: 1.25em;
        }
        .price-original{
          font-size: 1em;
          color: #999999;
          text-decoration: line-through;
        }
      }
    }
  } 
}