$pyshuo_icon: '/img/mobilev1/pyshuo_icon.png';

a{
  text-decoration: none;
  color: #2fa4e7;
}
.fl, .pull-left {
  float: left;
}
.fr, .pull-right{
  float: right; 
}

.tab-item .icon {
  background: url($pyshuo_icon) 0 0 no-repeat;
  width: 0.83855625em;
  background-size: 10.9375em 10.9375em;
}

.tab-item .icon.icon-home {
  background-position: 0 -0.7513125em;
}

.tab-item-active .icon.icon-home {
  background-position: 0 0.2em;
}

.tab-item .icon.icon-categories {
  background-position: -0.9113125em -0.7513125em;
}

.tab-item-active .icon.icon-categories {
  background-position: -0.9113125em 0.2em;
}

.tab-item .icon.icon-sharings {
  background-position: -1.8230625em -0.7513125em;
}

.tab-item-active .icon.icon-sharings {
  background-position: -1.8230625em 0.2em;
}

.tab-item .icon.icon-tryings {
  background-position: -2.734375em -0.7513125em;
}

.tab-item-active .icon.icon-tryings {
  background-position: -2.734375em 0.2em;
}

.tab-item .icon.icon-my {
  background-position: -3.6456875em -0.7513125em;
}

.tab-item-active .icon.icon-my {
  background-position: -3.6456875em 0.2em;
}

.tab-item-active {
  color: #29ac0e;
}

.radius10 {
  -moz-border-radius: 0.417em;
  -webkit-border-radius: 0.417em;
  border-radius: 0.417em;
}

.categories {
  .list .item {
    img{
      height: 3.25em;
    }
    span{
      display: block;
    }
    .title{
      color: #29ac0e;
      text-decoration: none;
      font-size: 1.417em;
      line-height: 1.667em;

    }
    .explain {
      color: #999999;
      text-decoration: none;
      font-size: 1em;
      line-height: 1.2em;
    }
  }
}

.category{
  .item-body{
    .item-price{
      font-size: 1.25em;
      color: #ffa200;
      display: inline;
    }
    .item-price-original{
      font-size: 1em;
      color: #999999;
      display: inline;
      text-decoration: line-through;
    }  
  } 
}

.pane-secondary{
  margin-top: 50px;
  padding-top: 15px;
}

.my{
  .item.head{
    display: block;
    text-decoration: none;
    color: #29ac0e;
    font-size: 1.25em;
    outline: none;
    img{
      display: block;
      width: 2.708em;
      height: 2.708em;    
    }
    .name{
      padding-left: 0.833em;
      line-height: 2.708em;
    }
  }
}

h3.items-tag{
  margin: 0 0.833em 0.625em 0.833em;
  a{
    color: #29ac0e;
  }
}
.card.card-product{
  display: inline-block;
  margin: 0 0.433em 1.75em 0.433em;
  padding: 0 0.433em 1.75em 0.433em;
  width: 49.0%;
  box-shadow: 0 0 0;
  img{
    max-height: 100%;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
  }
  .item{
    padding: 0;
    border: 0;
  }
  .item-text-wrap a{
    font-size: 0.8em;
    color: #333333;
  }
  .item-avatar{
    padding-left: 2.4em;
    padding-top: 0.2em;
  }
  .item-avatar > img:first-child{
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    max-width: 2em;
    max-height: 2em;
    border-radius: 4px;
  }
}

