@import "variables";

.home-category{
  .element-container{
    .element{
      .image-left{
        position: relative;
        padding-left: 2.21428571429rem;
        height: 2.85714285714rem;
        img{
          position: absolute;
          left: 0;
          top: 5px;
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}