@import "variables";

.home{
  .row{
    .col{
      padding: 0;
    }
  }
  .promotion{ 
    position:relative; 
    margin-top:0.5em; 
    border-top:1px #dddddd solid; 
    border-bottom:1px #dddddd solid; 
    background-color:#ffffff; 
    text-align:center;
    .price{ 
      position:absolute; 
      top:5em; 
      left:0.8em;
    }
  }
  .recommends{ 
    .row{
      .col:first-child{
        margin-right: 0.5em;
      }
    }
    .row:first-child{
      padding-top: 0;
    }
  }
}