@import "variables";

.my-addresses{
  .item-icon-left{
    .icon.pys-350 {
      top: 1.42857142857rem;
    }    
  }
  .item-icon-right{
    .icon{
      top: 1.42857142857rem;
    }
  }
  .address{
    .name, .detail{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
