@import "variables";

.coupons{
  .coupon{
    height: 6rem;
    margin: 10px;
    padding: 0;
    width: auto;
    color: black;
    border: $border_default;
    .coupon-info {
      display: inline-block;
      background-color: $energized;
      color: #ffffff;
      padding: 0.5em;
      height: 100%;
      .coupon-name{
        display: block;
      }
    }
    .coupon-validity{
      float: right;
      text-align: center;
    }
  }
  .coupon-valid{
    .coupon-info{
      background-color: $energized;
      color: #ffffff;
    }
  }
  .coupon-invalid{
    .coupon-info{
      background-color: $invalid_coupon_bg_color;
      color: #999999;
    }
  }
}