 @import "variables";

.my{
  .profile{
    height: 12em;
    background: url(http://www.tongshijia.com/img/app/minebg.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
    text-align: center;
    .account{
      height: 8.8em;
      .avatar{
        @extend .pys-400;
        background-position: 0 -8.57142857143em;
        height: 5em;
        width: 5em;
      }
      .mobile{
        color: #000000;
        display:block;
        
      }
      .button-login{
        border-color: #ffffff;
        background: transparent;
        color: #ffffff;
        margin: 1.5em 0 0;
        min-width: 7.5em;
      }
    }
    .orders{
      .bg{
        position: absolute;
        background-color: #FFFFFF;
        filter:alpha(opacity=25);
        -moz-opacity:0.25;
        opacity:0.25;
        width: 100%;
        height: 100%;
      }
      .order{
        position: relative;
      }
    }
  }
  .details{
    .item-icon-left{
      .icon.pys-350{
        top: 6px;
      }
    }
  }
}