 @import "variables";
 
 .my-orders{
  .brand{
    line-height: 2em;
    .brand-name{
      display: inline-block;
      font-size: 1.2em;
      line-height: 2em;
    }
  }
  .product{
    span{
      display: block;
    }
  }
  .summary{
    padding-left: 6.4em;
    .total-price{
      float: left;
      line-height: 32px;
    }
    .buttons{
      .button{
        min-height: 32px;
        height: 32px;
        line-height: 32px;
      }
    }
  }
}