 @import "variables";

.product-detail{
  .centered-container{
    padding-right: 0.5em;
    .pys-350.icon-footer-cart {
      background-position: -10.7083333333em 0;
      width: 1.91666666667em;
      height: 1.8em;
    }

    .footer-cart-text{
      margin-top: -5px;
    }
  }
  .spec-choice{
    padding:0.4em;
    display:inline-block;
    margin-bottom: 0.71428571428rem;
    margin-right: 0.5rem;
    border: $border_default;
    color: $muted;
  }
  .spec-choice.checked{
    border: $border_balanced;
    color: $balanced;
  }
  .number-span{
    padding: 0 32px;
    width: 50%;
    .icon-reduce{
      left: 0;
    }
    .icon-add{
      right: 0;
    }
    .count{
      height: 32px;
    }
  }
  .comment{
    .comment-image{
      max-height: 6rem;
      padding-bottom: 0;
    }
  }
  .item-main{
    line-height: 22px;
    font-weight: bold;
  }
}