.product-detail-comments{
  .tabs{
    border-bottom: $border_ccc;
    .tab-item:first-child{
      border-right: $border_ccc;
    }
  }
  .tabs-top{
    .tabs{
      height: 40px;
      .tab-item {
        padding-top: 0;
        max-width: 100%;
        line-height: 40px;
      }
    }
  } 
  .has-tabs-top{
    top: 84px;
  }
  .comment-image {
    max-height: 6rem;
    padding-bottom: 0;
  }
}