.product-detail-comments{
  .tabs{
    border-bottom:1px $border_color solid;
    .tab-item{
      line-height: 3em;
    }
    .tab-item:first-child{
      border-right:1px #bbbbbb solid;
    }
    .tab-item-active{
      color: $balanced !important;
      span{
        color: $balanced !important;
      }
    }
  }
  .comment-image {
    width: 33%;
    padding-right: 0.5em;
  }
}