@import "variables";

.store{
  .card.product{
    padding-top: 0.5em;
    border-bottom: 1px #dddddd solid;
    margin: 0;
    .price-current{
      font-size: 1.2em;
      color: #ffa200;
    }
  }
}
