@import "variables";

.stores{
  .store-container{
    width: 50%;
    margin-top: 10px;
    img{
      display: block;
      max-height: 171px;
    }
    .store{
      display: block;
      border: 1px solid $border_color;
      margin-right: 10px;
    }
  }
}