$light:                           #fff !default;
$stable:                          #cccccc !default;  // #f8f8f8
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffa531 !default;  // ffc900
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;

$dark:                            #333 !default;
$grey:                            #666 !default;
$muted:                           #777 !default;
$border_color:                    #ddd !default;
$invalid:                         #ddd !default;
$pys_icon: 'http://www.tongshijia.com/img/app/iconpyshuo.png';
