<ion-view class="product-detail-comments" title="商品评价">
  <div class="tabs-top" ng-show="vm.getComments(1).length > 0" ng-cloak>
    <div class="tabs">
      <a class="tab-item" ng-class="{'text-balanced': vm.type == 0}" ng-click="vm.type = 0">
        <span class="text-16">口碑评价</span>
        <span class="text-sub">
          ({{vm.getComments(0).length}})
        </span>
      </a>
      <a class="tab-item" ng-class="{'text-balanced': vm.type == 1}" ng-click="vm.type = 1">
        <span class="text-16">试吃评价</span>
        <span class="text-sub">
          ({{vm.getComments(1).length}})
        </span>
      </a>
    </div>
  </div>
  <ion-content class="content" ng-class="{'has-tabs-top': vm.getComments(1).length > 0}">
    <div class="item" ng-repeat="comment in vm.getComments(vm.type)">
      <div class="item-image-mini-left"> 
        <img ng-show="::comment.userPhoto != null" class="item-image r5"   style="background: url('{{::comment.userPhoto}}');background-size:contain;">
        <span ng-show="::comment.userPhoto == null" class="item-image pys-350 icon-user"></span>
        <span >{{::comment.username}}</span>
        <span class="text-muted fr">{{::comment.created}}</span>
      </div>
      <div>
        <span class="icon pys-280 {{::comment.rating > 0 ? 'icon-star':'icon-star-gray'}}"></span>
        <span class="icon pys-280 {{::comment.rating > 1 ? 'icon-star':'icon-star-gray'}}"></span>
        <span class="icon pys-280 {{::comment.rating > 2 ? 'icon-star':'icon-star-gray'}}"></span>
        <span class="icon pys-280 {{::comment.rating > 3 ? 'icon-star':'icon-star-gray'}}"></span>
        <span class="icon pys-280 {{::comment.rating > 4 ? 'icon-star':'icon-star-gray'}}"></span>
      </div>
      <div class="wrapped text-sub-muted">
        {{::comment.body || '这家伙很懒，什么都没写'}}
      </div>
      <div class="row" ng-repeat="i in comment.images" ng-if="$index % 3 == 0">
        <img src="{{image}}" class="col col-33 comment-image" ng-repeat="image in ::comment.images.slice($index, $index + 3)"/>
      </div>
    </div>

    <div class="centered-container padding" ng-show="vm.getComments(vm.type).length == 0" ng-cloak>
      <span class="text-muted">暂时木有评价哦</span>
    </div>
  </ion-content>
</ion-view>