<ion-view class="product-detail" title="商品详情" hide-tabs>
  <ion-content class="ion-content">
    <img src="{{vm.product.Product.coverimg}}" class="full"/>
    <div class="item">
      <p class="text-large">
        {{vm.product.Product.name}}
      </p>
      <p class="text-sub">
        {{vm.product.Product.promote_name}}
      </p>
      <p>
        <span class="text-energized">
          ￥<span class="text-large">{{vm.product.Product.price | currency:''}}</span>
        </span>
        <span class="text-sub" ng-show="{{vm.product.Product.original_price != 0}}">
          <s>{{vm.product.Product.original_price | currency:"￥"}}</s>
        </span>
        <a class="fr" ng-click="vm.toReputationCommentsPage();">
          口碑评价({{vm.getReputationComments().length}})
        </a>
        <p/>
      </p>
      <p ng-show="false" ng-reason="api不支持">
        好友***推荐了该产品
      </p>
    </div>
    <div class="item" ng-reason="api不支持" ng-show="false">
      <span class="item-label">
        促销：
      </span>
      <span class="item-value">
        暂无红包___Fix me
      </span>
    </div>
    <div class="item">
      <span class="item-label">规格:</span>
      <span class="item-value" ng-repeat="(ite_name, ite_content) in vm.product.Product.specs.choices" ng-init="vm.specsChecks[ite_name] = {}">
        <span class="specs" ng-class="{checked: vm.specsChecks[ite_name][ite].value}" ng-repeat="ite in ite_content" ng-init="vm.specsChecks[ite_name][ite] = {value:false}" ng-click="vm.specsClick(ite_name,ite);">
          {{ite}}
        </span>
      </span>
    </div>
    <div class="item">
      <span class="item-label">
        数量：
      </span>
      <span class="number-span" style="width:75%;">
        <span class="icon pys-350 icon-reduce count-reduce " ng-click="buttonReduceClick()"></span>
        <span class="count">
          <input ng-model="vm.count">
        </span>
        <span class="icon pys-350 icon-add count-add" ng-click="buttonAddClick()"></span>
      </span>
    </div>
    
    <div class="item-divider"></div>

    <a class="item item-avatar item-icon-right" ng-click="vm.toBrand();"  >
      <img src="{{vm.brand.Brand.coverimg}}"/>
      <i class=" icon ion-ios7-arrow-right"></i>
      <span style="line-height: 2em;">
        进入{{vm.brand.Brand.name}}的店铺
      </span>
    </a>
    <div class="item">
      <span class="item-label">
        快递：
      </span>
      <span class="item-value">
        {{vm.product.Product.ship_fee==0?'包邮':(vm.product.Product.ship_fee | currency:'￥')}}
      </span>
    </div>
    <div class="item">
      <div class="item-label">
        服务：
      </div>
      <span class="item-value">
        本商品由{{vm.brand.Brand.name}}提供，朋友说提供售后服务，服务热线：{{config.app.hotline}}
      </span>
    </div>
    
    <div class="item-divider"></div>
    
    <div class="item item-icon-right" ng-click="vm.showProductIntro = !vm.showProductIntro">
      <i class=" icon ion-ios7-arrow-right"></i>
      <span>
        商品详情
      </span>
    </div>
    <div ng-show="vm.showProductIntro" class="item product-intro" ng-bind-html="vm.content.Product.content">
    </div>
    <div class="item item-icon-right" ng-click="vm.toTryingCommentsPage();">
      <i class=" icon ion-ios7-arrow-right"></i>
      <span>
        试吃评价
        <span class="text-sub">({{vm.getTryingComments().length}})</span>
      </span>
    </div>
    <div class="item item-icon-right" ng-click="vm.toReputationCommentsPage();">
      <i class=" icon ion-ios7-arrow-right"></i>
      <span>
        口碑评价
        <span class="text-sub">({{vm.getReputationComments().length}})</span>
      </span>
    </div>

    <div ng-show="$index<3" class="item evaluate" ng-repeat="c in vm.getReputationComments()" ng-init="comment = c.Comment">
      <p class="item-image-small-left">
        <img ng-show="comment.userPhoto != null" class="item-image user-image"   style="background: url('{{comment.userPhoto}}');background-size:contain;">
        <span ng-show="comment.userPhoto == null" class="app-icon icon-user user-image"></span>
        <span >{{comment.username}}</span>
        <span class="fr text-muted">{{comment.created}}</span>
      </p>
      <p>
        <span class="pys-350 {{comment.rating > 0 ?'icon-star':'icon-star-gray'}}"></span>
        <span class="pys-350 {{comment.rating > 1 ?'icon-star':'icon-star-gray'}}"></span>
        <span class="pys-350 {{comment.rating > 2 ?'icon-star':'icon-star-gray'}}"></span>
        <span class="pys-350 {{comment.rating > 3 ?'icon-star':'icon-star-gray'}}"></span>
        <span class="pys-350 {{comment.rating > 4 ?'icon-star':'icon-star-gray'}}"></span>
      </p>
      <p style="white-space: normal;">
        {{comment.body}}
      </p>
      <div>
        <img ng-repeat="img in comment.images" src="{{img}}" class="evaluate-image"/>
      </div>
      <span ng-show="true" class="text-muted fr">
        购买时间：{{comment.created}}
      </span>
    </div>
    <div ng-show="vm.getReputationComments().length > 3" class="item evaluate">
      <div class="all-comment">
        查看全部评价
      </div>
    </div>

    <div class='item'>
      相关商品推荐
      <div class="row" ng-repeat="item in vm.recommends" ng-if="$index % 2 == 0">
        <div class='card col col-50' ng-repeat="itemt in vm.recommends.slice($index, $index+2)" >
          <a ui-sref="app.product-detail({from: vm.from, id: itemt[1].id})">
            <div class="item item-image">
              <img title="{{itemt[1].name}}" src="{{itemt[1].coverimg}}">
            </div>
            <div class='item item-text'>
              <strong>{{itemt[1].name}}</strong>
            </div>
          </a>
          <div class='item item-text'>
            <span class='price-current'><strong>¥{{itemt[1].price | currency:''}}</strong></span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="footer footer-bar">
    <div class="footer-bar-container">
      <span ng-click="vm.addToCart(true);" class="button pys-button button-energized fl" style="margin-right: 0.5em;" ng-disabled="!vm.readyToBuy()">
        <strong>立即购买</strong>
      </span>
      <span ng-click="vm.addToCart(false);" class="button pys-button button-assertive fl" style="margin-right: 0.5em;" ng-disabled="!vm.readyToBuy()">
        <strong>加入购物车</strong>
      </span>
      <div ng-click="vm.showTabs();" ui-sref="app.cart"  class="centered-container fr">
        <span ng-hide="cart.cartItems.length == 0" class="badge badge-right-top badge-balanced">{{cart.cartItems.length}}</span>
        <span class="pys-350 icon-footer-cart">
        </span>
        <div class="footer-cart-text">
          购物车
        </span>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>