<div class="productDetailEvaluate">
  <div class="list ">

 
    <div class="item" ng-repeat="ite in vm.comment">

      <div class="row">
        <div class="col">

            {{ite.Comment.username}}

        
        </div>
        <div class="col" >
          <span style="background-color:{{getRankColor(ite.Comment.rating)}};" class="rankText">

            {{getRankText(ite.Comment.rating)}}
            
          </span>
          {{ite.Comment.body}}

      
          <p/>
          <div>
            <img ng-repeat="img in ite.Comment.images" src="{{img}}" class="imageWidthFull"/>
          </div>
          <div class="date">
            {{ite.Comment.created}}
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="list buttonColor">
    <div class="list">
      <div class="row" >
        <div class="col">
          <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content buttonFont" >
              好评
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
        <div class="col">
            <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content buttonFont">
              中评
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
        <div class="col">
            <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content buttonFont">
              差评
            </div>
            <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>

      </div>
        <div>
      
            <span class="input-label">请输入评价：</span>
            <textarea class="contentBox"></textarea>
          <div>
            <p/>
          <div>

          <button class="button button-static">
            添加图片
          </button>
          <div>
            ImageArea
          </div>
          <div align="right">
            <button class="button button-static" >
              提交评论
            </button>
          </div>
      </div>
    </div>
  </div>
</div>