<ion-view title="朋友说" hide-back-button='true' show-tabs>
  <ion-content class='padding'>  
    <div ng-repeat="trying in ::vm.tryings">
      <h2 ng-bind="::trying.Category.name"></h2>
      <div class="row" ng-repeat="a in ::trying.articles" ng-init="article = a.Article">
        <div class="col col-33">
          <img src="{{::article.coverimg}}" width="100%" alt="">
        </div>
        <div class="col col-67">
          <p><a ui-sref="app.trying-detail({id: article.id})" ng-bind="::article.name"></a></p>
          <p ng-bind="::article.summary"></p>
        </div>
      </div>
    </div>    
  </ion-content>
</ion-view>
