<ion-view title="{{trying.title}}" hide-tabs>
  <ion-content class='padding'>
    <div>
      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">第三期试吃团成立了！新进来一批可爱的团员，下面我们目睹一下我们第三期团员的风采吧。</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="font-size: 20px;"><strong><span style="color: rgb(49, 133, 155);">【腾讯-马东雯】</span></strong></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic11HXl57YfFtRqY6Oxtib3gFrKgqMcAXgFS0rXpBbftH4bBksgdCgkibZQ/0" data-ratio="0.6007905138339921" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic11HXl57YfFtRqY6Oxtib3gFrKgqMcAXgFS0rXpBbftH4bBksgdCgkibZQ/0" style="max-width: 100%; height: auto !important;"></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="color: rgb(49, 133, 155);">大家好，我是来自腾讯的东雯，产品dog一枚。</span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">自从上班后，旅行，运动这些爱好都被工作挤得“排期紧张，风险很大”，唯独在吃上不敢降低优先级。平时忙，到了休息日，吃饭可就不能马虎了，饭前必定细细评审，开发中事必躬亲，上线前视觉走查，精心截图首发上线。</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">很开心能加入试吃团，和气味相投的同学们在精致生活的道路上越走越远！</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="font-size: 20px;"><strong><span style="color: rgb(49, 133, 155);">【搜狐-王超君】</span></strong></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic192UcF8ztnZLp0KYiafLZ9bVvib0Tf0I68EPqK5STS75q4otQ20wbXWhQ/0" data-ratio="1" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic192UcF8ztnZLp0KYiafLZ9bVvib0Tf0I68EPqK5STS75q4otQ20wbXWhQ/0" style="max-width: 100%; height: auto !important;"></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="color: rgb(49, 133, 155);">大家好我是来自搜狐的王超君。</span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">这个吃货有点忙，但对于吃来者不拒。非常高兴有机会加入吃团，和众多萌妹子、帅小伙一起冠冕堂皇的聊吃聊活动。享受大家的分享，吃得健康开心是最高宗旨！</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="font-size: 20px;"><strong><span style="color: rgb(49, 133, 155);">【幸福夫妻档 IBM-祝琨 &nbsp;滴滴打车-张楠】</span></strong></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic162jVp9btiaZqNbSibC3o8FYlq1ru76w40tZwY3uOhk2AoqJNCPdHS8iaA/0" data-ratio="0.7509881422924901" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic162jVp9btiaZqNbSibC3o8FYlq1ru76w40tZwY3uOhk2AoqJNCPdHS8iaA/0" style="max-width: 100%; height: auto !important;"></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="color: rgb(49, 133, 155);">来自IBM的贤惠老婆祝琨和来自滴滴打车的模范丈夫张楠~</span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">我代表我和我老公感谢组织发展我俩为三期试吃团团员！</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">自报家门一下，我是来自IBM的祝琨，我老公是嘀嘀打车的张楠。附上我俩皂片儿。</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="font-size: 20px;"><strong><span style="color: rgb(49, 133, 155);">【腾讯-孔薇】</span></strong></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1k1UxYfU53RKWWpBgAJWvCiafDYIia6CdC7LDX02rbr5STPqu3k8qyGyQ/0" data-ratio="1.3339920948616601" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1k1UxYfU53RKWWpBgAJWvCiafDYIia6CdC7LDX02rbr5STPqu3k8qyGyQ/0" style="max-width: 100%; height: auto !important;"></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="color: rgb(49, 133, 155);">大家好，我是来自腾讯的孔薇。</span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">腾讯，编辑。非典型吃货，食物用生命抵达舌尖拥抱，需要一心一意的品尝和尊重。如果足够好，一口就够了。</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="font-size: 20px;"><strong><span style="color: rgb(49, 133, 155);">【北京春苗儿童救助基金会-刘娇】</span></strong></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic11Qlra08rnat2zpZgftUEqKPXAkRfvgibgs8aylevOXh0FPSBibcouiaHA/0" data-ratio="0.5790513833992095" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic11Qlra08rnat2zpZgftUEqKPXAkRfvgibgs8aylevOXh0FPSBibcouiaHA/0" style="max-width: 100%; height: auto !important;"></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="color: rgb(49, 133, 155);">大家好，我是来自北京春苗儿童救助基金会的刘娇~</span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">家好，我来自于一家儿童救助机构，大家可以叫我刘猫猫，简单介绍一下自己吧，吃货里的爱喵人，爱喵族里的摄影爱好者，摄影圈里的公益小妹，公益界里的飙泪狂。这些年的那些事里，唯有吃和我深深地捆绑在一起，美食的诱惑无处不在，我承认面对美食我就是这样没有节操。Come on ，东北吃货的口号：大口喝酒，大块吃肉，无肉不欢！</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="font-size: 20px;"><strong><span style="color: rgb(49, 133, 155);">【奇虎360-陈锦秋】</span></strong></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1pJasQksYABTcVwjLjzWsfiaQ86xtzl8m6YSbZCOqymINTk0LHpcicTfA/0" data-ratio="1.0197628458498025" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1pJasQksYABTcVwjLjzWsfiaQ86xtzl8m6YSbZCOqymINTk0LHpcicTfA/0" style="max-width: 100%; height: auto !important;"></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="color: rgb(49, 133, 155);">大家好，我是来自奇虎360的陈锦秋~（此妹子喜欢核桃，静哥多给一些核桃哈~）</span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">大家好，我是来自屌丝帝国—360的一名妹纸，喜欢各种各样的水果，最爱榴莲和草莓，正所谓美食与美景都不可辜负，所以和大家相遇在朋友说里，嘿嘿，大家有什么好吃的好玩的都给我寄过来吧。本妹纸来者不拒！</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="font-size: 20px;"><strong><span style="color: rgb(49, 133, 155);">【腾讯-grace】</span></strong></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1UI4NYR8JE7J2XoAQhS63z3HK3fp26ztkianvIYugpS7wb1iaep1EIqIg/0" data-ratio="0.66600790513834" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1UI4NYR8JE7J2XoAQhS63z3HK3fp26ztkianvIYugpS7wb1iaep1EIqIg/0" style="max-width: 100%; height: auto !important;"></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="color: rgb(49, 133, 155);">大家好，我是腾讯grace</span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">腾讯员工，3岁女宝妈妈，平日工作忙碌，几乎没给孩子做过饭。孩子越大越关注孩子的饮食和健康。想成为让孩子能吃上健康又美味的家庭饭菜的妈妈。关注好食材。</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="font-size: 20px;"><strong><span style="color: rgb(49, 133, 155);">【搜狗-崔婵婵】</span></strong></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1eBQpicvCa7JbIRiaJwvKq5KuOWVVrLxLFu6wnNMRiaY87HNpN7oicniaD9w/0" data-ratio="0.5335968379446641" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1eBQpicvCa7JbIRiaJwvKq5KuOWVVrLxLFu6wnNMRiaY87HNpN7oicniaD9w/0" style="max-width: 100%; height: auto !important;"></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="color: rgb(49, 133, 155);">大家好，我是来自搜狗的崔婵婵~</span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">加入试吃团交友比吃的乐趣更多一些。因为我不是什么都吃的吃货，更喜欢精致，看起来赏心悦目，吃起来口感好，尤其是不要太硬。</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">我最感兴趣的事情其实是：通过看到的东西做出一个假设，然后一步一步验证。但是感觉好久都在一个两点一线的世界里生活，好久没有从内心感受的放松与开心以及成就感。</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">为了梦想来到北京，但是不知道到什么时候才能真正实现，让自己感到满意。虽然一步步在前进，可是总也是因为意志不够，只是在忙碌的过着每一天。有时候我又过于自信，认为自己无所不能。我一直在试图改变这个矛盾体，也许在未来可以。</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">我就是我，有些忧伤却不为人知，总是在看起来的坚强与执着中忙碌下去。大多时候理性，而一旦感性了又不能自拔。。变成了静静说的两个月总会有的心理期。期待和大家见面，期待品尝到更多的美食~</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="font-size: 20px;"><strong><span style="color: rgb(49, 133, 155);">【东方风行-胖子】</span></strong></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1prOgOLxj0QcK9piam9qIeZWsQ572FQEAW1NHn1TBiaUFdVxtXENVAIHw/0" data-ratio="1.16798418972332" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1prOgOLxj0QcK9piam9qIeZWsQ572FQEAW1NHn1TBiaUFdVxtXENVAIHw/0" style="max-width: 100%; height: auto !important;"></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="color: rgb(49, 133, 155);">大家好我是来自东方风行的胖子（胖子一点都不胖好不好，又骗静哥了……）</span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">哈喽。我是胖子，很惊喜收到加入试吃团邀请。吃货胖子一枚，典型无肉不欢者。<span style="color: rgb(49, 133, 155);">（介绍不太合格哈，胖子收到重写哈，静哥可严格了呢~）</span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="font-size: 20px;"><strong><span style="color: rgb(49, 133, 155);">【腾讯-杨淼】</span></strong></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="color: rgb(49, 133, 155);"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1iaTUzfh3sFfOkUxxMg9uS3LPXNtLZg0icgGGn4dbwRcbwFtUJTufcGBg/0" data-ratio="1.300395256916996" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1iaTUzfh3sFfOkUxxMg9uS3LPXNtLZg0icgGGn4dbwRcbwFtUJTufcGBg/0" style="max-width: 100%; height: auto !important;"></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="color: rgb(49, 133, 155);">嗨，大家好，我是腾讯的杨淼哈~</span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">大家好,我是一枚鹅厂的Q妹,虽然嘴上一直挂着"减肥"的口号,生活中却根本做不到.经不住各类美食的诱惑,遇到就会吃吃吃!俗话说：吃的好，吃得饱，才有力气减肥嘛！最开心的事情就是吃好吃的东东.最大的愿望是吃尽天下美食,怎么吃都不长肉!希望通过朋友说试吃团能够品尝各类美食,将好吃健康的食物分享给大家!<span style="color: rgb(49, 133, 155);">（淼~可认真了第一个就给了静哥一份满意的介绍，淼~多给你些好吃的哈~顺便传授你只吃不胖秘籍~）</span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><strong><span style="color: rgb(49, 133, 155); font-size: 20px;">【腾讯-赵瑞超】</span></strong></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="color: rgb(49, 133, 155);"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1aAFQNDmCzwhdXicevtxQzj02hjN8hIMZhZd78o4lgEoTsGkYQKHUI9g/0" data-ratio="0.8636363636363636" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1aAFQNDmCzwhdXicevtxQzj02hjN8hIMZhZd78o4lgEoTsGkYQKHUI9g/0" style="max-width: 100%; height: auto !important;"></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="color: rgb(49, 133, 155);">我是腾讯的一名应用开发工程师。（攻城狮，好强大，膜拜一会~）</span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">出于对孩子及家人的食品安全考虑，工作日的早晚餐通常是亲手做来吃。食谱通常来自网络和同事的言传身教，从每天饭后的盘碗来看，目前所做的饭菜还是比较能得到家人认可。周末喜欢出去玩，吃做不出来的好吃的，以及尝试把它做出来以享家人。希望在这里能够找到安全健康，质量过硬，方便处理，价格合理的好食材，把爱美食的好习惯发扬下去。</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="font-size: 20px;"><strong>【其他调皮捣蛋小伙伴】</strong></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">以下调皮捣蛋的小伙伴没有给资料，请及时提供给静哥哦，不然真真的就木有名额了，静哥是认真的！</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">【去哪儿-席佩云】没有给资料哦~看到之后提供哈~</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1uL4QuSsmUgJCxiaqvnDlwagHcdVwLrCmmsI8JwezFN8NjoiaOYZoxiaiaw/0" data-ratio="0.6027667984189723" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1uL4QuSsmUgJCxiaqvnDlwagHcdVwLrCmmsI8JwezFN8NjoiaOYZoxiaiaw/0" style="max-width: 100%; height: auto !important;"></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><span style="font-size: 20px;"><strong><span style="color: rgb(49, 133, 155);">【负责大家吃好喝好玩好的静哥】</span></strong></span></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1fZXGnmmgYCVlrfqkVePHxC3JHjgITiaR9jZVgJvrykCHQCjrjkN5lpw/0" data-ratio="1.2351778656126482" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNETwbHO403a2yQddrpAIxic1fZXGnmmgYCVlrfqkVePHxC3JHjgITiaR9jZVgJvrykCHQCjrjkN5lpw/0" style="max-width: 100%; height: auto !important;"></p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">大家好，我是朋友说的静哥，静团长。负责各位亲这个月所有试吃团的事物，大家有什么问题都可联系静哥哈~静哥努力大家解决~</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">（不夸静哥美腻的童鞋，好吃的减半哦~嘿嘿~）</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

      <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">再次欢迎大家成为我们三期的试吃团员哈~这个月我们吃喝玩乐走起！</p>
    </div>
  </ion-content>
</ion-view>
