<ion-view title="朋友说" hide-back-button='true'>
  <ion-content class='padding'>  
    <div ng-repeat="trying in vm.tryings">
      <h2>{{trying.Category.name}}</h2>
      <div class="row" ng-repeat="a in trying.articles" ng-init="article = a.Article">
        <div class="col col-33">
          <img src="{{article.coverimg}}" width="100%" alt="">                            
        </div>
        <div class="col col-67">
          <p><a ui-sref="app.trying-detail({id: trying.id})">{{article.name}}</a></p>
          <p>{{article.summary}}</p>
        </div>
      </div>
    </div>    
  </ion-content>
</ion-view>
