<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.ilegongapp346848" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>朋友说</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <icon src="www/img/logo.png"/>
  <platform name="android">
    <splash src="www/img/logo.png" density="land-hdpi"/>
    <splash src="www/img/logo.png" density="land-ldpi"/>
    <splash src="www/img/logo.png" density="land-mdpi"/>
    <splash src="www/img/logo.png" density="land-xhdpi"/>
    <splash src="www/img/logo.png" density="port-hdpi"/>
    <splash src="www/img/logo.png" density="port-ldpi"/>
    <splash src="www/img/logo.png" density="port-mdpi"/>
    <splash src="www/img/logo.png" density="port-xhdpi"/>
  </platform>
  <platform name="ios">
    <splash src="www/img/logo.png" width="320" height="480"/>
    <splash src="www/img/logo.png" width="640" height="960"/>
    <splash src="www/img/logo.png" width="768" height="1024"/>
    <splash src="www/img/logo.png" width="1536" height="2048"/>
    <splash src="www/img/logo.png" width="1024" height="768"/>
    <splash src="www/img/logo.png" width="2048" height="1536"/>
    <splash src="www/img/logo.png" width="640" height="1136"/>
    <splash src="www/img/logo.png" width="750" height="1334"/>
    <splash src="www/img/logo.png" width="1242" height="2208"/>
    <splash src="www/img/logo.png" width="2208" height="1242"/>
  </platform>

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>