<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ilegong.pyshuo" version="0.9.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>朋友说</name>
  <description>
        Ilegong app
    </description>
  <author email="zxq@ilegong.com" href="http://www.tongshijia.com/">
      Ilegong
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="Orientation" value="portrait" />
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000" />
  <!-- fix performance issue on android -->
  <preference name="KeepRunning" value="false"/>

  <icon src="www/res/icons/ios/icon-60@3x.png" />
  <platform name="android">
    <icon src="www/res/icons/android/icon-60@3x.png" density="ldpi" />
    <icon src="www/res/icons/android/icon-60@3x.png" density="mdpi" />
    <icon src="www/res/icons/android/icon-60@3x.png" density="hdpi" />
    <icon src="www/res/icons/android/icon-60@3x.png" density="xhdpi" />
    <splash src="www/res/splash/android/splash-640X960.png" density="port-ldpi"/>
    <splash src="www/res/splash/android/splash-640X960.png" density="port-mdpi"/>
    <splash src="www/res/splash/android/splash-750X1334.png" density="port-hdpi"/>
    <splash src="www/res/splash/android/splash-1080X1920.png" density="port-xhdpi"/>
  </platform>
  <platform name="ios">
    <!-- https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/MobileHIG/IconMatrix.html -->
    <!-- iPhone 6 Plus -->
    <icon src="www/res/icons/ios/icon-60@3x.png" width="180" height="180" />
    <!-- iPhone 6, 5, 4s -->
    <icon src="www/res/icons/ios/icon-60@2x.png" width="60" height="60" />
    <icon src="www/res/icons/ios/icon-60@2x.png" width="120" height="120" />
    <!-- Spotlight Icon -->
    <icon src="www/res/icons/ios/icon-40@2x.png" width="40" height="40" />
    <icon src="www/res/icons/ios/icon-40@2x.png" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="www/res/icons/ios/icon-57@2x.png" width="57" height="57" />
    <icon src="www/res/icons/ios/icon-57@2x.png" width="114" height="114" />

    <!-- iphone 1, 3G, 3GS -->
    <splash src="www/res/splash/ios/splash-640X960.png" width="320" height="480"/>
    <!-- iphone 4, 4s -->
    <splash src="www/res/splash/ios/splash-640X960.png" width="640" height="960"/>
    <!-- iphone 5 -->
    <splash src="www/res/splash/ios/splash-640X1136.png" width="320" height="528"/>
    <splash src="www/res/splash/ios/splash-640X1136.png" width="640" height="1136"/>
    <!-- iphone 6 -->
    <splash src="www/res/splash/ios/splash-750X1334.png" width="750" height="1334"/>
    <!-- iphone 6 plus -->
    <splash src="www/res/splash/ios/splash-1080X1920.png" width="1080" height="1920"/>
  </platform>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>