<ion-view title="朋友说" hide-back-button='true' show-tabs>
  <ion-content class="home" ng-click="vm.loadData()">
    <div class="centered-container" ng-if="!vm.loadStatus.isLoadFinished()">
      <span class="no-content load-status">
        <img ng-src="{{vm.loadStatus.getLoadingImage()}}"/>
      </span>
      <span class="message text-muted" ng-bind="vm.loadStatus.getMessage()"></span>
    </div>

    <div ng-if="vm.loadStatus.isLoadFinished()">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" style="width: 100%;">
        <ion-slide ng-repeat="bannerItem in vm.bannerItems" >
          <img class="full" ng-src="{{::bannerItem.img}}" err-src="http://s.tongshijia.com/img/u/banners/shenghao.jpg" ui-sref="product-detail({id:bannerItem.id, type: 'c2c'})"/>
        </ion-slide>
      </ion-slide-box>

      <div class="promotion">
        <div class="price">
          <span class="text-sub text-assertive">
            ¥<strong>12.00</strong>
          </span>
          <span class="text-muted">起</span>
        </div>
        <div class="row">
          <div class="col">
            <img src="{{::vm.specTagItems[0].img}}" class="full" ui-sref="app.home-category({slug:vm.specTagItems[0].slug, name: vm.specTagItems[0].name})"/>
          </div>
          <div class="col">
            <img src="{{::vm.specTagItems[1].img}}" class="full" ui-sref="app.home-category({slug:vm.specTagItems[1].slug, name: vm.specTagItems[0].name})" />
            <br />
            <img src="{{::vm.specTagItems[2].img}}" class="full" ui-sref="app.home-category({slug:vm.specTagItems[1].slug, name: vm.specTagItems[1].name})"/>
          </div>
        </div>
      </div>
          
      <h4 style="padding-left: 10px;">
        朋友说的爆款
      </h4>
      <img class="full padding-left padding-right" ng-src="{{::hotItem.img}}" ui-sref="product-detail({id:hotItem.id,type:'c2c'})" ng-repeat="hotItem in ::vm.hotItems"/>

      <h4 style="padding-left: 10px; margin-bottom: 0">
        朋友的推荐
      </h4>
      <div class="elements">
        <div class="element-container {{$index % 2 == 0 ? 'even' : 'odd'}}" ng-repeat="mainItem in ::vm.mainTagItems" style='width: 50%'>
          <div class="element">
            <img class="full" ng-src="{{::mainItem.img}}" ui-sref="app.home-category({slug:mainItem.slug, name: mainItem.name})"/>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
