<ion-view title="朋友说" hide-back-button='true' show-tabs>
  <ion-content class="home">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide ng-repeat="bannerItem in vm.bannerItems">
        <a ui-sref="app.product-detail.intro({id: bannerItem.id})">
          <img src="http://51daifan.sinaapp.com/{{bannerItem.img}}"/>
        </a>
      </ion-slide>
    </ion-slide-box>
    <div class="row" ng-repeat="tagWithProducts in vm.tagsWithProducts">
      <div class="col col-33 category">
        <a ui-sref="app.category-detail({slug:tagWithProducts.ProductTag.slug})">
          <img src="http://www.tongshijia.com/{{tagWithProducts.ProductTag.coverimg}}"></img>
        </a>
      </div>
      <div class="col col-33 product" ng-repeat="product in tagWithProducts.Products.slice(0, 2)" ng-init="brand=vm.brands[product.brand_id].Brand">
        <a ui-sref="app.product-detail.intro({id: product.id,from: -1})">
          <span class="product-name">
            {{product.name}}
          </span>
          <div class="brand-name">
            {{brand.name}}
          </div>
          <img class="product-image" src="{{product.coverimg}}"/>  
        </a>
      </div>
    </div>
    <ul ng-show='true'>
      <li ng-repeat='message in messages track by $index'>{{message}}</li>
    </ul>
  </ion-content>
</ion-view>
