<ion-view title="{{vm.name}}" hide-tabs>
  <ion-content class='home-category elements'>
    <ion-refresher pulling-text="下拉刷新" on-refresh="vm.doRefresh()">
    </ion-refresher>
    <div class="element-container" collection-repeat="product in vm.products" collection-item-height="'224px'" collection-item-width="'50%'" ng-click="vm.toProductDetailPage(product)">
      <div class='element'>
        <img class="product-image full" title="{{product.title}}" src="{{product.coverimg}}">
        <div class='text-padding'>
          {{product.name}}
        </div>
        <div class='image-left'>
          <img class="radius-10" src="{{product.brand.Brand.coverimg}}" ui-sref="store.home({id: product.brand.Brand.id, name: product.brand.Brand.name})" ng-click="$event.stopPropagation()">
          <div class='text-sub-muted brand-name'>{{product.brand.Brand.name}}</div>
          <span class='text-sub-energized'>¥{{product.price}}</span>
          <s class="text-mini-muted" ng-show="product.original_price">¥{{product.original_price}}</s>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>