<ion-view title="朋友说" hide-back-button='true' class="cart">
  <ion-nav-buttons side='right'>
    <button  class='button button-clear button-positive' ng-click="vm.editMode = !vm.editMode">{{vm.editMode?"完成":"编辑"}}</button ng-show="vm.brands.length > 0">
  </ion-nav-buttons>

  <ion-header-bar align-title="left" class="bar-subheader" ng-show="{{vm.isShowLogin()}}" >
    <div class="row">
      <div class="col col-75 login-text">温馨提示：登陆后您可以同步电脑，微信与APP购物车中的商品。</div>
      <div class="buttons" ng-click="vm.goLogin()">
        <button class="button login-button">马上登陆</button>
      </div>
    </div>
  </ion-header-bar>

  <ion-content ng-click="vm.cancelProductDelete();" class=" padding " style="{{(!vm.isShowLogin())?'padding-top:4em;':''}}">
    <div  class="empty-div" ng-show="vm.brands.length == 0">
      <div class="icon icon-cart empty-cart"></div>
      <div class="empty-text">
        购物车还是空的，去选点好吃的吧！
      </div>
      <a class="button empty-button go-show-button" ng-click="vm.goShop();">去逛逛</a>
    </div>
    <div class="list brand " ng-repeat="brand in vm.brands" ng-show="vm.brands.length > 0" ng-show="vm.getCartItems(brand.Brand.id).length > 0">

      <div class="row">
        <span class="col col-10">
          <span class="brand-circle icon {{vm.brandChecked(brand.Brand.id)?'icon-circle-checked circle-checked-icon':'icon-circle circle-icon'}}" ng-click="vm.toggleBrand(vm.editMode,brand.Brand.id)" ng-show="!vm.editMode">
          </span>          

        </span>
        <span class="col col-10">
          <img class="brand-image" src="{{brand.Brand.coverimg}}"></img>
        </span>
        <span class="col brand-name">
          {{brand.Brand.name}}
        </span>
      </div>
      <hr/>
      <div  ng-repeat="cartItem in vm.getCartItemsOfBrand(brand.Brand.id)" ng-init="cartItem['checked'] = false;cartItem['deleteMode'] = false;cartItem['showEdit']=false;" >
        <div class="row">
        <span ng-show="!vm.editMode || !cartItem['deleteMode']" ng-click="vm.toggleCartItem(vm.editMode,cartItem,$event);">
          <span class="item-circle icon {{vm.editMode?'icon-delete delete-icon':(cartItem['checked']?'icon-circle-checked circle-checked-icon':'icon-circle circle-icon')}}">
          </span>
        </span>
        <span class="product-img col col-20">
          <img class="item-image" src="{{cartItem.Cart.coverimg}}"></img>
        </span>
        <span class="product-content ">
          <span class="product-title">
            {{cartItem.Cart.name}}
          </span>
          <span class="product-subtitle" ng-show="!vm.editMode || !cartItem['showEdit']">
            subtitle
          </span>
          <span class="number-span" ng-show="vm.editMode && cartItem['showEdit']">
            <span class="icon icon-reduce count-reduce" ng-click="vm.reduceCartItemNum(cartItem.Cart)"></span>
            <span class="count">
              <input  ng-model="cartItem.Cart.num"/>
            </span>
            <span class="icon icon-add count-add" ng-click="vm.addCartItemNum(cartItem.Cart)"></span>
          </span>
        </span>
        <span class="product-rest col">
          <span class="product-price">
            {{cartItem.Cart.price | currency:"￥"}}
          </span>
          <span class="product-num">
            × {{cartItem.Cart.num}}
          </span>
          <span ng-show="vm.editMode" class="icon {{cartItem['showEdit']?'icon-save save-icon':'icon-edit edit-icon'}}" ng-click="cartItem['showEdit'] = !cartItem['showEdit'];">
          </span>
        </span>

        <span ng-show="vm.editMode && cartItem['deleteMode']"class="product-delete" ng-click="vm.deleteCartItem(cartItem);$event.stopPropagation();">
          删除
        </span>
        </div>
        <hr class="hr" />
      </div>
    </div>

<!--
    <div class="row item" ng-repeat="cartItem in vm.cartItems" ng-show="vm.cartItems.length > 0">
      <a class="col col-25 item-title" href="">
        <span>{{cartItem.Cart.name}}</span><br/>
        <img class="img" src="{{cartItem.Cart.coverimg}}"/>
      </a>
      <div class="col col-50">
        <div class='item-price col-top'>{{cartItem.Cart.price}}元</div>
        <div class='item-count row col-center'>
          <span class="count-reduce col col-25" ng-click="vm.reduceCartItemNum(cartItem.Cart)">-</span>
          <input class="count col col-50" ng-model="cartItem.Cart.num"/>
          <span class="count-add col col-25" ng-click="vm.addCartItemNum(cartItem.Cart)">+</span>
        </div>
      </div>
      <div class="col-25">
        <div class='item-price-total'>{{cartItem.Cart.price * cartItem.Cart.num}}元</div>
        <a href= "" class="" ng-click="vm.deleteCartItem({{cartItem.Cart.id}})">
          删除
        </a>
      </div>
    </div>
-->
  </ion-content>
  <ion-footer-bar ng-show="vm.cartItems.length > 0" class="footer-bar">
    <div class="row footer-bar-row">
      <div class="col col-10">
        <div class="circle icon {{vm.getCheckedNumber() == vm.cartItems.length?'icon-circle-checked':'icon-circle'}}" ng-click="vm.getCheckedNumber() == vm.cartItems.length?vm.uncheckAllCartItems():vm.checkAllCartItems();"></div>
      </div>
      <div class="total-price col col-25">
        <div class="total-price">
          合计
        </div>
        <div>
          不含运费
        </div>
      </div>
      <div class="col col-25">
        <h1 class="total-price-price">{{vm.getTotalPrice() | currency:"￥"}}</h1>
      </div>
      <div class="buttons buttons" ng-click="vm.confirmCartInfo()">
        <button class="button jiesuan">结算({{vm.getCheckedNumber()}})</button>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>