<ion-view title="结算" class="cart-confirmation" hide-tabs>
  <ion-content class="list">
    <div class="item item-icon-right row" ng-click="vm.changeAddress()">
      <span class="text-large-balanced col col-center col-20">送至</span>
      <i class="icon ion-ios7-arrow-right"></i>
      <div ng-if="!_.isEmpty(vm.defaultAddress)" class="col"> 
        <div class="text">
          {{vm.defaultAddress.OrderConsignees.area}}{{vm.defaultAddress.OrderConsignees.address}}
        </div>  
        <div class="text">
          {{vm.defaultAddress.OrderConsignees.name}}({{vm.defaultAddress.OrderConsignees.mobilephone}})
        </div>
      </div>
      <div ng-if="_.isEmpty(vm.defaultAddress)" style="line-height: 2em;">
        <div>请选择地址</div>
      </div>
    </div>
    <div ng-repeat="item in vm.confirmedBrandItems" ng-init="brand=vm.getBrandById(item.id);">
      <div class="item-divider"></div>
      <div class="item item-avatar" ui-sref="store.home({id: brand.Brand.id, name: brand.Brand.name})">
        <img src="{{brand.Brand.coverimg}}"/>
        <div class="text">{{brand.Brand.name}}</div>
      </div>
      <div class="item item-thumbnail-left" ng-repeat="product in item.items" ng-click="vm.toProductPage(product);">
        <img src="{{product.coverimg}}"/>
        <div class="text">
          {{product.name}}
        </div>
        <div class="text-sub-muted">
          价格：{{product.price | currency:'￥'}}&nbsp;数量：{{product.num}}
        </div>
        <div class="text-sub-muted" ng-show="!_.isEmpty(product.spec)">
          规格：{{product.spec}}
        </div>
        <div class="text-sub-muted">
          小计：<span class="text-energized">{{vm.getPriceOfProduct(product) | currency:'￥'}}</span>
        </div>
      </div>
      <div class="item item-icon-right row" ng-show="true">
        <span class="col col-25">商品优惠</span>
        <i class="icon ion-ios7-arrow-right"></i>
        <span class="col">请选择要使用的优惠券</span>
      </div>
      <div class="item item-icon-right row">
        <span class="col col-25">运费</span>
        <span class="col">{{vm.getShipFeeOfBrand(brand.Brand.id) | currency: '￥'}}</span>
      </div>
      <div class="item">
        <label class="item-input" style="padding: 0; background-color: #eee; height: 3em;">
          <input type="text" style="padding-left: 1em;" placeholder="给卖家留言：" ng-model="item.remark">
        </label>
      </div>
      <span ng-init="brand.coupons = [];"></span>

      <ion-checkbox ng-show="false" reason="没有API" ng-repeat="coupon in vm.validCoupons"  ng-if=" vm.showProductCoupon(item.items,coupon);" ng-model="coupon.isChecked" ng-init="coupon.isChecked = false;" ng-click="vm.setBrandOrProductCoupon(coupon,brand,item.items)" >asdasdad{{coupon.isChecked}}</ion-checkbox>
      <ion-checkbox ng-show="false" reason="没有API" ng-repeat="coupon in vm.validCoupons"  ng-if="coupon.Coupon.brand_id == brand.Brand.id" ng-model="coupon.isChecked" ng-init="coupon.isChecked = false;" ng-click="vm.setBrandOrProductCoupon(coupon,brand,item.items)" >asdasdad{{coupon.isChecked}}</ion-checkbox>

      <div class="item">
        <span class="text-muted fr">共{{vm.countOfProducts(item)}}件商品，合计：{{vm.getPriceOfBrand(item) | currency:'￥'}}</span>
      </div>
    </div>

    <ion-checkbox ng-show="false" reason="没有API" ng-repeat="coupon in vm.validCoupons"  ng-if="vm.isSiteCoupons(coupon)" ng-model="coupon.isChecked" ng-init="coupon.isChecked = false;" ng-click="vm.setSiteCoupon(coupon);">asdasdad{{coupon.isChecked}}</ion-checkbox>

    <div class="item-divider" ng-show="false"></div>
    <div class="item item-checkbox item-checkbox-right" ng-show="false">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      应用优惠码
      <textarea placeholder="使用优惠码" ng-model="vm.couponCodeTemp"></textarea>
      <a class="button button-assertive"  ng-click="vm.confirmCouponCode();">
      应用
      </a>
    </div>
  </ion-content>

  <ion-footer-bar class="row">
    <span class="col">
      共{{vm.getPidList().length}}件，实付款
      <span class="text-energized">
        ￥<span class="text-large">{{vm.totalPrice | currency:''}}</span>
      </span>
    </span>
    <button class="button button-energized col-25" ng-click="vm.submitOrder()" ng-disabled="!vm.readyToSubmitOrder()">
      <strong>提交订单</strong>
    </button>
  </ion-footer-bar>
</ion-view>