<ion-view title="朋友说" hide-back-button='true' class="cart" show-tabs>
  <ion-header-bar align-title="left" class="bar-subheader padding" ng-show="!vm.isLoggedIn" > 
    <div class="row">
      <div class="col col-75 login-text">温馨提示：登陆后您可以同步电脑，微信与APP购物车中的商品。</div>
      <button class="button login-button" ui-sref="app.cart-account-login">马上登陆</button>
    </div>
  </ion-header-bar>

  <ion-content style="{{vm.isLoggedIn?'padding-top:75px;':''}}">
    <ion-refresher pulling-text="下拉刷新" on-refresh="vm.doRefresh()">
    </ion-refresher>
    <div ng-repeat="brand in vm.brands" ng-show="vm.getCartItemsOfBrand(brand.Brand.id).length > 0">
      <div class="item item-icon-left item-avatar">
        <img src="{{brand.Brand.coverimg}}"></img>
        <i class="icon pys-350 {{vm.brandChecked(brand.Brand.id)?'icon-circle-checked circle-checked-icon':'icon-circle circle-icon'}}" ng-click="vm.toggleBrand(brand.Brand.id)" ng-show="!vm.editMode">
        </i>          
        <span>
          {{brand.Brand.name}}
        </span>
      </div>
      <ion-list can-swipe="true">
        <ion-item ng-repeat="cartItem in vm.getCartItemsOfBrand(brand.Brand.id)" >
          <ion-option-button class="button-balanced" ng-click="vm.deleteCartItem(cartItem);">
            删除
          </ion-option-button>
          <div class="item-icon-left item-thumbnail-left">
            <img src="{{cartItem.Cart.coverimg}}"></img>
            <i class="icon pys-350 {{cartItem['checked']?'icon-circle-checked circle-checked-icon':'icon-circle circle-icon'}}" ng-click="vm.toggleCartItem(cartItem,$event);">
              </span>
            </i>
            <span class="product-content">
              <div class="text">
                {{cartItem.Cart.name}}
              </div>
              <span class="text-sub" ng-show="!cartItem.editMode">
                subtitle
              </span>
              <span class="number-span" ng-show="cartItem.editMode">
                <span class="icon icon-reduce count-reduce" ng-click="vm.reduceCartItemNum(cartItem.Cart)"></span>
                <span class="count">
                  <input ng-model="cartItem.Cart.num"/>
                </span>
                <span class="icon icon-add count-add" ng-click="vm.addCartItemNum(cartItem.Cart)"></span>
              </span>
            </span>
            <span class="product-rest col">
              <span class="product-price">
                {{cartItem.Cart.price | currency:"￥"}}
              </span>
              <span class="product-num">
                × {{cartItem.Cart.num}}
              </span>
              <span  class="icon {{cartItem.editMode ? 'icon-save save-icon':'icon-edit edit-icon'}}" ng-click="cartItem.editMode = !cartItem.editMode;">
              </span>
            </span>
          </div>
        </ion-item>
        <div class="item-divider"></div>
      </ion-list>
    </div>

    <div class="centered-container" ng-show="vm.brands.length == 0">
      <span class="no-content no-cart-items">
      </span>
      <span class="message">
        购物车还是空的，去选点好吃的吧！
      </span>
      <a class="button button-energized" ui-sref="app.home">去逛逛</a>
    </div>
  </ion-content>
  
  <ion-footer-bar ng-show="vm.cartItems.length > 0" class="footer-bar has-tabs">
    <div class="footer-bar-container">
      <div class="price-total fl">
        <span class="icon pys-350 {{vm.getCheckedNumber() == vm.cartItems.length?'icon-circle-checked':'icon-circle'}}" ng-click="vm.getCheckedNumber() == vm.cartItems.length?vm.uncheckAllCartItems():vm.checkAllCartItems();"></span>
        <div class="fl">
          <div>合计</div>
          <div class="text-sub-muted">不含运费</div>
        </div>
        <span class="text-energized bar-row fl">
          ￥<span class="text-large">{{vm.getTotalPrice() | currency:""}}</span>
        </span>
      </div>
      <div class="buttons pys-buttons fr">
        <div class="button button-energized" ng-click="vm.confirmCart()" ng-disabled="!vm.readyToConfirm()"><strong>结算({{vm.getCheckedNumber()}})</strong></div>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>