<ion-view title="结算" hide-tabs>
  <ion-content>
    <div class="my-order-info">
      <h2>
        收货人信息
      </h2>

      <div ng-click="vm.setAddress(vm.defaultAddress)"  ng-show="!_.isEmpty(vm.defaultAddress)"> 
        <div class="item-content" >
          {{vm.defaultAddress.OrderConsignees.name}}({{vm.defaultAddress.OrderConsignees.mobilephone}})
        </div>
        <div > 
          {{vm.defaultAddress.OrderConsignees.area}}{{vm.defaultAddress.OrderConsignees.address}}
        </div>
      </div>
      <div ng-show="_.isEmpty(vm.defaultAddress)"></div>
      <hr class="devide_line"/>
      <div class="cart_border cart_item">
        <div  ng-repeat="item in vm.cart.brandItems" ng-init="brand=vm.getBrandById(item.id);">
          <div class="row">
            <div class="col col-33">
              <img class="img" src="{{vm.getBrandById(item.id).Brand.coverimg}}"/>
            </div>
            <div class="col">
              <h4>分享人： {{vm.getBrandById(item.id).Brand.name}}</h4>
              {{vm.getBrandById(item.id).Brand.notice}}
            </div>
          </div>
          <div class="list">
            <div class="row" ng-repeat="product in item.items">

              <div class="col col-33">
                {{product.name}}
              </div>
              <div class="col col-33">
                单价： {{product.price | currency:'￥'}}
              </div>
              <div class="col col-10">
                X {{product.num}}
              </div>
              <div class="col">
                {{product.price * product.num | currency:'￥'}}
              </div>
            </div>
          </div>
          <div>
            <label class="item item-input">
              <textarea ng-model="brand.Brand.remark" placeholder="给分享人留言"></textarea>
            </label>
            <p/>
          </div>
        </div>
      </div>
      <div class="coupon">
        <span>
          <textarea placeholder="使用优惠码" ng-model="vm.couponCodeTemp"></textarea>
          <a class="button button-assertive"  ng-click="vm.confirmCouponCode();">
          应用
          </a>
        </span>
      </div>

      <div class="bottom_div">
        <div>
          已优惠：{{vm.reduced | currency:'￥'}}
        </div>
        <div>
          运费：{{vm.totalShipFees | currency:'￥'}}
        </div>
        <div class="total_price">
          总价（含运费）：{{vm.totalPrice | currency:'￥'}}
        </div>
        <a class="button button-assertive" ng-click="vm.submitOrder();">
          提交订单
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>