<ion-view title="朋友说" hide-back-button='true' class="cart" show-tabs>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="vm.doRefresh()">
    </ion-refresher>

    <div ng-repeat="brand in vm.cartBrands" ng-show="vm.isLoggedIn" ng-cloak>
      <span class="item item-icon-left" ng-click="toStoreHomePage(brand);">
        <i class="icon pys-350 {{vm.isBrandChecked(brand)?'icon-circle-checked circle-checked-icon':'icon-circle circle-icon'}}" ng-click="vm.toggleBrand(brand); $event.stopPropagation()">
        </i>
        <div class="item-image-mini-left">
          <img class="item-image r5" src="{{brand.Brand.coverimg}}"></img>
          <span>
            {{brand.Brand.name}}
          </span>
        </div>
      </span>
      <ion-list can-swipe="true">
        <ion-item ng-repeat="cartItem in brand.cartItems">
          <ion-option-button class="button-balanced" ng-click="vm.deleteCartItem(cartItem);">
            删除
          </ion-option-button>
          <div class="item-icon-left item-thumbnail-left item-icon-right">
            <img src="{{cartItem.Cart.coverimg}}" ng-click="vm.toProductPage(cartItem);"></img>
            <i class="icon pys-350 {{cartItem['checked']?'icon-circle-checked circle-checked-icon':'icon-circle circle-icon'}}" ng-click="vm.toggleCartItem(cartItem); $event.stopPropagation()">
              </span>
            </i>
            <div class="product-content">
              <div class="nowrap">
                {{cartItem.Cart.name}}
              </div>
              <div class="nowrap text-sub-muted" ng-show="!_.isEmpty(cartItem.Cart.spec)">
                {{cartItem.Cart.spec}}
              </div>
              <div class="number-span">
                <span class="pys-350 icon-reduce" ng-click="vm.reduceCartItemNum(cartItem.Cart)"></span>
                <input class="count" disabled="disabled" ng-model="cartItem.Cart.num"/>
                <span class="pys-350 icon-add" ng-click="vm.addCartItemNum(cartItem.Cart)"></span>
              </div>
            </div>
            <span class="icon text-16">
              {{cartItem.Cart.price | currency:"￥"}}
            </span>
          </div>
        </ion-item>
        <div class="item-divider"></div>
      </ion-list>
    </div>

    <div class="centered-container" ng-show="vm.isLoggedIn && vm.cartBrands.length == 0" ng-cloak>
      <span class="no-content no-cart-items">
      </span>
      <span class="message">
        购物车还是空的，去选点好吃的吧！
      </span>
      <a class="button button-energized" ng-click="toHomePage()">去逛逛</a>
    </div>

    <div class="centered-container" ng-show="!vm.isLoggedIn" ng-cloak>
      <span class="no-content">
      </span>
      <span class="message">
        您还没有登录，请先登录
      </span>
      <button class="button button-energized" ui-sref="account-login">马上登陆</button>
    </div>
  </ion-content>
  
  <ion-footer-bar ng-show="vm.cartBrands.length > 0" class="item-icon-left row" style="background-color: white;">
    <span class="icon pys-350 {{vm.allBrandsChecked()?'icon-circle-checked':'icon-circle'}}" ng-click="vm.allBrandsChecked() ? vm.uncheckAllBrands():vm.checkAllBrands();"></span>
    <div class="col-20">
      <div>合计</div>
      <div class="text-sub-muted">不含运费</div>
    </div>
    <span class="text-18 text-energized col" style="line-height: 29px;">
      <strong>￥{{vm.getTotalPrice() | currency:""}}</strong>
    </span>
    <div class="button button-energized button-30" ng-click="vm.confirmCart()" ng-disabled="!vm.readyToConfirm()"><strong>结算({{countOfCheckedCartItems()}})</strong></div>
  </ion-footer-bar>
</ion-view>