<ion-view title="结算" class="cart-confirmation" hide-tabs>
  <ion-content class="list">
    <div class="item item-text-medium item-icon-right" ng-click="vm.changeAddress()">
      <span class="text text-balanced" style="font-size: 1.3em; left: 0.5em;">送至</span>
      <i class="icon ion-ios7-arrow-right"></i>
      <div ng-show="!_.isEmpty(vm.defaultAddress)"> 
        <div class="detail">
          {{vm.defaultAddress.OrderConsignees.area}}{{vm.defaultAddress.OrderConsignees.address}}
        </div>  
        <div class="name">
          {{vm.defaultAddress.OrderConsignees.name}}({{vm.defaultAddress.OrderConsignees.mobilephone}})
        </div>
      </div>
      <div ng-show="_.isEmpty(vm.defaultAddress)"></div>
    </div>
    <div ng-repeat="item in vm.cart.brandItems" ng-init="brand=vm.getBrandById(item.id);">
      <div class="item-divider"></div>
      <div class="item item-avatar">
        <img src="{{brand.Brand.coverimg}}"/>
        <div>{{brand.Brand.name}}</div>
      </div>
      <div class="item item-thumbnail-left" ng-repeat="product in item.items">
        <img src="{{brand.Brand.coverimg}}"/>
        <div>
          {{product.name}}
        </div>
        <div class="text-sub-muted">
          价格：{{product.price | currency:'￥'}}&nbsp;数量：{{product.num}}
        </div>
        <div class="text-sub-muted" ng-show="!_.isEmpty(product.spec)">
          规格：{{product.spec}}
        </div>
        <div class="text-sub-muted">
          小计：<span class="text-energized">{{vm.getPriceOfProduct(product) | currency:'￥'}}</span>
        </div>
      </div>
      <div class="item item-text-large item-icon-right" ng-show="false">
        <span class="text">商品优惠</span>
        <i class="icon ion-ios7-arrow-right"></i>
        <span>请选择要使用的优惠券</span>
      </div>
      <div class="item item-text-large">
        <span class="text">运费</span>
        <span>{{vm.getShipFeeOfBrand(brand.Brand.id) | currency: '￥'}}</span>
      </div>
      <div class="item">
        <label class="item-input" style="padding: 0; background-color: #eee; height: 3em;">
          <input type="text" style="padding-left: 1em;" placeholder="给卖家留言：">
        </label>
      </div>
      <div class="item">
        <span class="text-muted fr">共一件商品，合计：{{vm.getPriceOfBrand(item) | currency:'￥'}}</span>
      </div>
    </div>

    <div class="item-divider" ng-show="false"></div>
    <div class="item item-checkbox item-checkbox-right" ng-show="false">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      应用优惠码
      <textarea placeholder="使用优惠码" ng-model="vm.couponCodeTemp"></textarea>
      <a class="button button-assertive"  ng-click="vm.confirmCouponCode();">
      应用
      </a>
    </div>
  </ion-content>

  <ion-footer-bar ng-show="vm.cartItems.length > 0">
    <div style="width: 100%;">
      <span class="total-price" style="line-height: 34px;">
        共6件，实付款<span class="text-energized">￥<span style="font-size: 1.3em;">{{vm.totalPrice | currency:''}}</span></span>
      </span>
      <div class="buttons fr">
        <button class="button button-energized" ng-click="vm.submitOrder()">提交订单</button>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>