<ion-view title="购物车">
  <ion-content >
  	<div class="list cart">
      <div class="row item" ng-repeat="item in items">
        <a class="col col-25 item-title" href="">
          <span>{{item.title}}</span><br/>
          <img style="width:100%;" src="{{item.imgUrl}}"/>
        </a>

        <div class="col col-50">
          <div class='item-price col-top'>{{item.price}}元</div>
          <div class='item-count row col-center'>
            <span class="count-reduce col col-25" ng-click="buttonReduceClick($index)">-</span>
            <input class="count col col-50" ng-model="item.count"/>
            <span class="count-add col col-25" ng-click="buttonAddClick($index)">+</span>
          </div>
        </div>
        <div class="col-25">
          <div class='item-price-total'>{{item.price * item.count}}元</div>
          <a href= "" class="" ng-click="removeAt($index)">
            删除
          </a>
        </div>
      </div>
      <div class="padding-top">
        <button class="button button-positive fr" ui-sref="app.my-order-info">结算</button>
        <div class="fr cart-price-total">总价：{{getTotallPrice()}}元</div>
      </div>
    </div>
  </ion-content>
</ion-view>