<ion-view title="朋友说">
  <ion-content >
  	<div class="list cart">
      <div class="row item" ng-repeat="item in vm.carts">
        <a class="col col-25 item-title" href="">
          <span>{{item.Cart.product_id}},{{item.Cart.name}}</span><br/>
          <img style="width:100%;" src="{{item.Cart.coverimg}}"/>
        </a>

        <div class="col col-50">
          <div class='item-price col-top'>{{item.Cart.price}}元</div>
          <div class='item-count row col-center'>
            <span class="count-reduce col col-25" ng-click="buttonReduceClick(item.Cart)">-</span>
            <input class="count col col-50" ng-model="item.Cart.num"/>
            <span class="count-add col col-25" ng-click="buttonAddClick(item.Cart)">+</span>
          </div>
        </div>
        <div class="col-25">
          <div class='item-price-total'>{{item.Cart.price * item.Cart.num}}元</div>
          <a href= "" class="" ng-click="vm.del({{item.Cart.id}})">
            删除
          </a>
        </div>
      </div>
      <div class="padding">
        <a class="button button-positive fr" ui-sref="app.order-info">结算</a>
        <div class="fr cart-price-total">总价：{{vm.total_price}}元</div>
      </div>
    </div>
  </ion-content>
</ion-view>