<ion-view title="朋友说" hide-back-button='true'>
  <ion-nav-buttons side='right'>
    <button  class='button button-clear button-positive' ng-click="vm.editOnClick();">{{vm.editMode?"完成":"编辑"}}</button>
  </ion-nav-buttons>
  <ion-content class="cart padding">
    <div  ng-show="vm.cartItems.length == 0">
      您的购物车是空的，先去逛逛吧。
    </div>
    <div class="list brand " ng-repeat="brand in vm.cartItems.brands">
      <div class="row">
        <span class="col col-10"></span>
        <span class="col col-10">
          <img style="width:100%;padding-top:0.025em;" src="{{brand.Brand.coverimg}}"></img>
        </span>
        <span class="col brand-name">
          {{brand.Brand.name}}
        </span>
      </div>
      <hr/>
      <div class="row" ng-repeat="product in vm.getProductsByBrandId(brand.Brand.id)" ng-init="product['deleteMode'] = false;product['checked'] = false;" >
        <span ng-show="!vm.editMode || !product['deleteMode']" ng-click="vm.toggleCartItem(vm.editMode,product);">
          <span class="icon {{vm.editMode?'icon-delete delete-icon':(product['checked']?'icon-circle-checked circle-checked-icon':'icon-circle circle-icon')}}">
          </span>
        </span>
        <span class="product-img col col-20">
          <img style="width:100%;" src="{{product.Cart.coverimg}}"></img>
        </span>
        <span class="product-content ">
          <span class="product-title">
            {{product.Cart.name}}
          </span>
          <span class="product-subtitle">
            subtitle
          </span>
        </span>
        <span class="product-rest col">
          <span class="product-price">
            {{product.Cart.price | currency:"￥"}}
          </span>
          <span class="product-num">
            × {{product.Cart.num}}
          </span>

          <span ng-show="vm.editMode" class="icon icon-edit edit-icon">
          </span>
 
        </span>
        <span ng-show="vm.editMode && product['deleteMode']"class="product-delete" ng-click="vm.deleteCartItem(product.Cart.id)">
          删除
        </span>
        <hr/>
      </div>
    </div>
    {{vm.getTotalPrice()}}

<!--


    <div class="row item" ng-repeat="cartItem in vm.cartItems" ng-show="vm.cartItems.length > 0">
      <a class="col col-25 item-title" href="">
        <span>{{cartItem.Cart.name}}</span><br/>
        <img class="img" src="{{cartItem.Cart.coverimg}}"/>
      </a>
      <div class="col col-50">
        <div class='item-price col-top'>{{cartItem.Cart.price}}元</div>
        <div class='item-count row col-center'>
          <span class="count-reduce col col-25" ng-click="vm.reduceCartItemNum(cartItem.Cart)">-</span>
          <input class="count col col-50" ng-model="cartItem.Cart.num"/>
          <span class="count-add col col-25" ng-click="vm.addCartItemNum(cartItem.Cart)">+</span>
        </div>
      </div>
      <div class="col-25">
        <div class='item-price-total'>{{cartItem.Cart.price * cartItem.Cart.num}}元</div>
        <a href= "" class="" ng-click="vm.deleteCartItem({{cartItem.Cart.id}})">
          删除
        </a>
      </div>
    </div>
    <div ng-show="vm.cartItems.length > 0">
      <a class="button button-positive fr" ng-click="vm.confirmCartInfo()">结算</a>
      <div class="fr cart-price-total">总价：{{vm.total_price}}元</div>
    </div>
-->
  </ion-content>
</ion-view>