<ion-view title="{{::storeName}}" show-store-tabs>
  <ion-nav-buttons side="left">
    <button class="button button-clear back-button" ng-click="vm.goBack();">
      <i class="icon ion-ios-arrow-left"></i>返回
    </button>
  </ion-nav-buttons>

  <ion-content class='store elements' ng-click="vm.loadData()">
    <div class="centered-container" ng-if="!vm.loadStatus.isLoadFinished()">
      <span class="no-content load-status">
        <img ng-src="{{vm.loadStatus.getLoadingImage()}}"/>
      </span>
      <span class="message text-muted" ng-bind="vm.loadStatus.getMessage()"></span>
    </div>

    <div class="element-container" collection-repeat="product in ::vm.products" item-height="::vm.getItemHeight()" item-width="::vm.getItemWidth()">
      <div class='element'>
        <img class="blocked full" ui-sref="product-detail({from: storeId, id: product.Product.id,type:-3})" src="{{product.Product.coverimg}}" style="height: {{::vm.imageHeight}}px; width: {{::vm.imageWidth}}px">
        <div class='padding-5'>
          <div class="nowrap" ng-bind="product.Product.name"></div>
          <span class='text-energized'><strong ng-bind="product.Product.price | currency:'￥'"></strong></span>
          <s class="text-sub-muted" ng-bind="product.Product.original_price | currency:'￥'"></s>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
