<ion-view title="朋友说" hide-back-button='true' show-tabs>
  <ion-content class='stores padding-left'>
    <ion-refresher pulling-text="下拉刷新" on-refresh="vm.doRefresh()">
    </ion-refresher>
    <div class='store-container' collection-repeat="store in vm.stores" collection-item-width="'50%'" collection-item-height="'213px'" ng-cloak>
      <div class="store" ui-sref="store.home({id: store.Brand.id, name: store.Brand.name})">
        <img class="full" src="{{store.Brand.coverimg}}" alt="">
        <div class="nowrap tc" style="line-height: 2em;">
          {{store.Brand.name}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>