<ion-view title="分享圈">
  <ion-content class='brands'>
    <div class='list'>
      <div class="row" ng-repeat="b in vm.brands" ng-if="$index % 2 == 0">
        <div class='brand card col col-50' ng-repeat="b in vm.brands.slice($index, $index+2)" ng-init="brand=b.Brand">
          <div class="item item-image">
            <a ui-sref="brand.home({id: brand.id})"><img src="{{brand.coverimg}}" alt="" width="182px"></a>  
          </div>
          <div class="item brand-name" style="text-align:center;">
            <a ui-sref="brand.home({id: brand.id})">{{brand.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>