<div>
  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><img _src="/img/grey.gif" class="lazy" data-original="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNGUp9OyKABiaqcQmZEosMgSVS0eKbj6081VCkSccqA21duYFcBy4icNyzooPvs55dsPOicnV5CbMoLqQ/0" data-ratio="1.1857707509881423" data-s="300,640" data-w="" src="https://mmbiz.qlogo.cn/mmbiz/UuGM2hE8WNGUp9OyKABiaqcQmZEosMgSVS0eKbj6081VCkSccqA21duYFcBy4icNyzooPvs55dsPOicnV5CbMoLqQ/0" style="max-width: 100%; height: auto !important; display: inline;"></p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">在大鸭梨“打拼混迹”多年，让我对食材的感知变得过分灵敏。每一种食材的产地、品种、口感、成分等标准和数据已经不知不觉地成为我生活中的一部心经，其实就是一种挥之不去、紧随一生的“职业病”，同事们笑称我练就了一副“灵舌利眼”。</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">几年浸泡于美食林立、宾客相欢的世界里，渐渐读懂了美食与人之间的某种情感。穿梭于八街九陌、追寻在山涧乡野，美食的隐匿和召唤，让我感到人生愈发丰满。</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">作为鲜农乐的买手，已经忘记是第几次踏上湘西这片灵土了，只是那曾回转五内的沁心的甜酒、独特的腊肉、淳朴的土家族人古老的歌谣还深深刻印在脑海中。</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">这一次，我跟随着当地土生土长的张大哥，穿过云雾缭绕的大山，跨过清冽的潺潺山泉，来到他在山间的家。干净整洁的小屋，袅袅炊烟缓缓直上，这会儿，是土家人农耕劳作一天后，可以全家人围坐共享美食的温馨时刻。</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">热情的张大哥一边在灶前和家人忙碌，一边为我讲解—丛毛藠（jiao，四声），这种陌生拗口的植物。</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">当张大哥端上热腾腾的丛毛藠饺子的时候，它轻薄的饺皮、鲜嫩的馅料、回旋的香味，已让我垂涎三尺，只能感叹自然的恩赐和美食的神奇。也许，只有土家养育的天然食材，只有在这灵山灵水之间，才能邂逅如此醇厚深情的美味。</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;"><strong><span style="color: rgb(49, 133, 155);">备注：</span></strong>兄弟姐妹们可以拼单的哈！鲜农乐采用自主物流、全程用保温箱+冰袋配送，保证冰鲜，您可以备注希望送货的时间! 送单位可以放冰箱，或者备注临下班的时间点送货都是可以的，不过最好的还是送家里，到家就下锅，热腾腾的、香香的才是最爽的！</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">&nbsp;</p>

  <p style="margin-top: 5px; margin-bottom: 5px; clear: both; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px; line-height: normal;">加班太累，回家不想做饭，就下点饺子吃吧！管饱管饱！！！</p>
</div>