<div class="list card">
  <a href="/products/20141121/xiang_xi_yuan_sheng_tai_cong_mao_jiao_shou_gong_shui_jiao.html" class="item item-image" item-price="38">
    <img src="http://51daifan-images.stor.sinaapp.com/files/201411/thumb_m/c076c664466_1121.jpg" alt="" title="湘西原生态丛毛藠手工水饺">                   
  </a>
  <div class="item item-body">
    <div>
      <a href="/products/20141121/xiang_xi_yuan_sheng_tai_cong_mao_jiao_shou_gong_shui_jiao.html">湘西原生态丛毛藠手工</a>                
      <div class="food-info pull-right">
           <strong>¥38</strong>                                     
      </div>
    </div>
    <a href="/products/20141121/xiang_xi_yuan_sheng_tai_cong_mao_jiao_shou_gong_shui_jiao.html">促销日期：2014.11.7日--2014.12.7日（仅限北京）</a>
  </div>
</div>