<ion-view title="账号" hide-tabs>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ui-sref="app.my-account-register">注册</button>
  </ion-nav-buttons>
  <ion-content class="my">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">账号</span>
        <input type="text" placeholder="用户名" ng-model="vm.username">
      </label>
      <label class="item item-input">
        <span class="input-label">密码</span>
        <input type="password" placeholder="密码" ng-model="vm.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block" ng-class="{'button-energized': vm.readyToLogin()}" ng-click="vm.login()" ng-disabled="!vm.readyToLogin()">登录</button>
    </div>
  </ion-content>
</ion-view>
