<ion-view title="账号" hide-back-button='true'>
   <ion-nav-buttons side="left">
    <button class="button button-clear back-button" ng-click="$ionicGoBack($event)">
      <i class="icon ion-ios7-arrow-left"></i>返回
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ui-sref="account-register">注册</button>
  </ion-nav-buttons>
  <ion-content class="my">
    <div class="list">
      <label class="item item-input">
        <span class="input-label text-16">账号</span>
        <input type="text" class="text-16" placeholder="请输入用户名" ng-model="vm.username" ng-change="vm.resetPassword()">
      </label>
      <label class="item item-input">
        <span class="input-label text-16">密码</span>
        <input type="password" class="text-16" placeholder="请输入密码" ng-model="vm.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block" ng-class="{'button-energized': vm.readyToLogin()}" ng-click="vm.login()" ng-disabled="!vm.readyToLogin()">登录</button>
    </div>
  </ion-content>
</ion-view>
