<ion-view title="收货地址" hide-tabs>
      <ion-nav-buttons side='right'>
        <button  class='button button-clear button-positive' ng-click="vm.editMode = !vm.editMode">{{vm.getEditText()}}</button>
      </ion-nav-buttons>
  	<ion-content  class="padding">
      <div class="list">
        <div class="row"  ng-repeat="address in vm.addresses" >
          <div class="col col-10">
            <i class="icon ion-checkmark-round " ng-show="vm.isChecked(address);"  ng-click="vm.itemClick(address)"></i>
            <i class="icon ion-load-c" ng-show="!vm.isChecked(address);"  ng-click="vm.itemClick(address)"></i>
          </div>
          <div class="col"   ng-click="vm.itemClick(address)">
            <div >
              {{address.OrderConsignees.name}}({{address.OrderConsignees.mobilephone}})
            </div>
            <div>
              {{address.OrderConsignees.area}}{{address.OrderConsignees.address}}
            </div>  
          </div>
          <div class="col col-10" ng-show="(vm.editMode == 1)">
            <div class="icon ion-chevron-right" ng-click="vm.itemClick(address)"></div>
          </div>
        </div>
      </div>
      <div class="button button-outline button-balanced button-block" ng-click="vm.editAddress(null)">
            新增收货地址
      </div>
  	</ion-content>
</ion-view>
