<ion-view title="编辑地址">
  <ion-content >
  {{vm.editId}}
    <div class="list">
      <div class="row">
        <div class="col col-25" >
          收货人
        </div>
        <div class="col">
          <input  ng-model="vm.editAddr.OrderConsignees.name"/>
        </div>
      </div>
      <div class="row">
        <div class="col col-25" >
          省市
        </div>
        <div class="col">
            <div >
              <select id="selectRegion_1" ng-model="vm.provinceModel" ng-options="m.name for m in vm.provinces" ng-change="vm.cityModel='';vm.countyModel='';vm.getCities(vm.provinceModel.id);">
                <option value="">-- 请选择 --</option>

              </select>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          2
        </div>  
        <div class="col">
          <select id="selectRegion_2" ng-model="vm.cityModel" ng-options=" m.name for m in vm.cities" ng-change="vm.countyModel='';vm.getCounties(vm.cityModel.id);">
            <option value="">-- 请选择 --</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          3
        </div>
        <div class="col">
          <select id="selectRegion_3" ng-model="vm.countyModel" ng-options=" m.name for m in vm.counties" ng-change="">
            <option value="">-- 请选择 --</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-25">
        详细地址
      </div>
      <div class="col">
        <input  ng-model="vm.editAddr.OrderConsignees.address"/>
      </div>
    </div>
    <div class="row">
      <div class="col col-25" >
        手机
      </div>
      <div class="col">
        <input  ng-model="vm.editAddr.OrderConsignees.mobilephone"/>
      </div>  
    </div>
    <div class="row">
      <button class="button button-assertive" ng-click="vm.save()">
        保存收货人信息

      </button>
    </div>
  </ion-content>
</ion-view>