<ion-view title="收货地址" hide-tabs>
  <ion-nav-buttons side='right'>
    <button  class='button button-clear' ng-click="$state.go('app.my-address-edit', {editId:-1});">{{'新建'}}</button>
  </ion-nav-buttons>
	<ion-content class="my-addresses list">
    <div class="address item item-icon-left item-icon-right"  ng-repeat="address in vm.addresses" ng-show="vm.addresses.length > 0">
      <span ng-click="vm.setDefaultAddress(address.OrderConsignees.id)">
        <i class="icon pys-icon" ng-class="{'icon-checked': address.OrderConsignees.checked, 'icon-unchecked': !address.OrderConsignees.checked}"></i>
        <div class="name">
          {{address.OrderConsignees.name}}({{address.OrderConsignees.mobilephone}})
        </div>
        <div class="detail">
          {{address.OrderConsignees.area}}{{address.OrderConsignees.address}}
        </div>  
      </span>
      <i class="icon pys-icon ion-edit" ng-click="vm.editAddress(address)"></i>
    </div>
    <div class="no-address-container" ng-show="vm.addresses.length == 0">
      <span class="no-address">
        暂无地址
      </span>
    </div>
	</ion-content>
</ion-view>
