<ion-view title="收货地址" hide-back-button='true'>
   <ion-nav-buttons side="left">
    <button class="button button-clear back-button" ng-click="$ionicGoBack($event)">
      <i class="icon ion-ios-arrow-left"></i>返回
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side='right'>
    <button  class='button button-clear' ng-click="vm.addAddress()">新建</button>
  </ion-nav-buttons>
	<ion-content class="my-addresses">
    <ion-refresher pulling-text="下拉刷新" on-refresh="vm.doRefresh()">
    </ion-refresher>
    <div class="address item item-icon-left item-icon-right"  ng-repeat="address in vm.addresses" ng-show="vm.addresses.length > 0">
      <span ng-click="vm.setDefaultAddress(address)">
        <i class="icon pys-350" ng-class="{'icon-circle-checked': vm.isChecked(address), 'icon-circle': !vm.isChecked(address)}"></i>
        <div class="nowrap">
          <span ng-bind="address.OrderConsignees.name"></span>(<span ng-bind="address.OrderConsignees.mobilephone"></span>)
        </div>
        <div class="nowrap">
          <span ng-bind="address.OrderConsignees.area"></span><span ng-bind="address.OrderConsignees.address"></span>
        </div>  
      </span>
      <i class="icon pys-350 icon-edit" ui-sref="address-edit({editId: address.OrderConsignees.id})"></i>
    </div>
    <div class="centered-container" ng-if="vm.addresses.length == 0">
      <span class="no-content no-address">
      </span>
      <span class="message text-muted">
        暂无地址
      </span>
    </div>
	</ion-content>
</ion-view>
