<ion-view title="编辑地址" hide-tabs>
  <ion-nav-buttons side='right'>
    <button  class='button button-clear button-positive' ng-click="vm.deleteAddress(vm.address.OrderConsignees.id)">删除</button>
  </ion-nav-buttons>
  <ion-content class="my-address-edit">
    <div class="div-content ">
      <div class="row padding-content">
        <div class="col col-25" >
          收货人
        </div>
        <div class="col">
          <input  class="text" ng-model="vm.address.OrderConsignees.name"/>
        </div>
      </div>
      <hr/>
      <div class="row padding-content">
        <div class="col col-25" >
          联系方式
        </div>
        <div class="col">
          <input class="text" ng-model="vm.address.OrderConsignees.mobilephone"/>
        </div>  
      </div>
      <hr/>
      <div class="row padding-content">
        <div class="col col-25" >
          省
        </div>
        <div class="col">
            <div >
              <select class="select" id="selectRegion_1" ng-model="vm.province" ng-options="m.name for m in vm.provinces" ng-change="vm.onProvinceChanged(vm.province)">
                <option value="">-- 请选择 --</option>
              </select>
            </div>
        </div>
      </div>
      <div class="row" ng-show='vm.cities.length > 0'>
        <div class="col col-25">
          市{{_.isEmpty(vm.cities)}}
        </div>  
        <div class="col">
          <select class="select" id="selectRegion_2" ng-model="vm.city" ng-options=" m.name for m in vm.cities" ng-change="vm.onCityChanged(vm.city)">
            <option value="">-- 请选择 --</option>
          </select>
        </div>
      </div>
      <div class="row" ng-show="vm.counties.length > 0">
        <div class="col col-25">
          区/县{{_.isEmpty(vm.counties)}}
        </div>
        <div class="col">
          <select class="select" id="selectRegion_3" ng-model="vm.county" ng-options=" m.name for m in vm.counties" ng-change="">
            <option value="">-- 请选择 --</option>
          </select>
        </div>
      </div>
      <hr/>
      <div class="row padding-content">
        <div class="col col-25">
          详细地址
        </div>
        <div class="col">
          <input class="text" ng-model="vm.address.OrderConsignees.address"/>
        </div>
      </div>
    </div>
    <div class="row row-save padding-content">
      <div class="button button-save" ng-click="vm.save()">
        保存收货人信息
      </div>
    </div>
  </ion-content>
</ion-view>