<ion-view title="优惠券">
  <ion-content >
    <div class="list coupons">
      <div class="item" ng-repeat="item in coupons">
        <div>
          <h4 class="title">
            <span>
              {{item.title}}
            </span>
            <span>
              {{item.name}}
            </span>
            <span class="value" style="background-color:{{getCouponColor(item.state)}};">
              {{getCouponValue(item.state)}}
            </span>

            <span class="priceText">
            面值:
            </span>
            <span class="priceValue">
              {{item.price | currency:'￥'}}
            </span>
          </h4>
        </div>
        <div>
          有效期：
          {{item.date_begin}} - {{item.date_end}}
        </div>
        <div ng-show="isCouponAvailable(item.state)" class="goShopText">
          去
          <a href="{{item.shopUrl}}" class="goShopLink">专店</a>
          选购
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>