<ion-view title="我的优惠券" class="coupons" hide-tabs>
  <ion-content ng-click="vm.loadData()">
    <div class="centered-container" ng-if="!vm.loadStatus.isLoadFinished()">
      <span class="no-content load-status">
        <img ng-src="{{vm.loadStatus.getLoadingImage()}}"/>
      </span>
      <span class="message text-muted" ng-bind="vm.loadStatus.getMessage()"></span>
    </div>
    <div class="coupon coupon-valid row" ng-repeat="item in vm.validCoupons" ng-init="brand=vm.getBrand(item.Coupon.brand_id)">
      <a class="coupon-info col col-67" ng-click="vm.useCoupons(item,brand);" >
        <div class="nowrap padding-bottom-5" ng-bind="item.Coupon.name"></div>
        <div class="padding-bottom-5">
          ￥<span class="text-21" ng-bind="::item.Coupon.reduced_price /100 | currency : ''"></span>
        </div>
        <div class="nowrap text-sub" ng-show="item.Coupon.least_price > 0">
          订单满<span ng-bind="::((item.Coupon.least_price / 100) | currency:'')"></span>元使用(不含邮费)
        </div>
      </a>
      <div class="coupon-validity col col-33">
        <div class="text-muted padding-bottom-5">有效期</div>
        <div class="text-grey padding-bottom-5">
          <span ng-bind="::item.Coupon.valid_begin | date:'MM.dd'"></span>
          ~
          <span ng-bind="::item.Coupon.valid_end | date:'MM.dd'"></span>
        </div>
        <div class="text-muted padding-bottom-5" ng-bind="::vm.getCouponStatus(item)"></div>
      </div>
    </div>
    
    <div class="centered-container" ng-show="vm.validCoupons.length == 0 && !vm.showInvalidCoupons" ng-cloak>
      <span class="no-content no-coupons">
      </span>
      <span class="message text-muted">
        暂无优惠券
      </span>
    </div>

    <div class="padding" style="text-align:center">
      <p class="text-grey" ng-click="vm.showInvalidCoupons = !vm.showInvalidCoupons" ng-show="vm.invalidCoupons.length > 0" ng-bind="vm.showInvalidCoupons ? '隐藏过期优惠券' : '查看过期优惠券'">
      </p>
    </div>

    <div class="coupon coupon-invalid row" ng-repeat="item in vm.invalidCoupons" ng-init="brand=vm.getBrand(item.Coupon.brand_id)" ng-show="vm.showInvalidCoupons">
      <a class="coupon-info col col-67" ui-sref="store.home({id: brand.Brand.id, name: brand.Brand.name})">
        <div class="nowrap padding-bottom-5" ng-bind="item.Coupon.name"></div>
        <div class="padding-bottom-5">
          ￥<span class="text-21" ng-bind="::item.Coupon.reduced_price /100 | currency : ''"></span>
        </div>
        <div class="nowrap text-sub" ng-show="item.Coupon.least_price > 0">
          订单满<span ng-bind="::item.Coupon.least_price"></span>元使用(不含邮费)
        </div>
      </a>
      <div class="coupon-validity col col-33">
        <div class="text-muted padding-bottom-5">有效期</div>
        <div class="text-grey padding-bottom-5">
          <span ng-bind="::item.Coupon.valid_begin | date:'MM.dd'"></span>
          ~
          <span ng-bind="::item.Coupon.valid_end | date:'MM.dd'"></span>
        </div>
        <div class="text-muted padding-bottom-5" ng-bind="::vm.getCouponStatus(item)"></div>
      </div>
    </div>
  </ion-content>
</ion-view>