<ion-view title="个人信息">
  <ion-content >
  	<div class="list">

  		<a class="item item-icon-right" >
        	<i class="icon ion-ios7-arrow-right"></i>
  			<div>
          <span style="float:left;">
            头像
          </span>
          <span style="float:right;">
            <img src="{{userDetail.imgUrl}}"/>

          </span>
        </div>
  		</a>
            <a class="item item-icon-right" >
          <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span style="float:left;">
            昵称
          </span>
          <span style="float:right;">
            {{userDetail.nickname}}
          </span>
        </div>
      </a>
            <a class="item item-icon-right" >
          <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span style="float:left;">
            性别
          </span>
          <span style="float:right;">
            {{userDetail.sex}}
          </span>
        </div>
      </a>
            <a class="item item-icon-right" >
          <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span style="float:left;">
            单位
          </span>
          <span style="float:right;">
            {{userDetail.company}}
          </span>
        </div>
      </a>
            <a class="item item-icon-right" >
          <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span style="float:left;">
            个性签名
          </span>
          <span style="float:right;">
            {{userDetail.content}}
          </span>
        </div>
      </a>
            <a class="item item-icon-right" >
          <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span style="float:left;">
            手机号
          </span>
          <span style="float:right;">
            {{userDetail.telephone}}
          </span>
        </div>
      </a>
            <a class="item item-icon-right" >
          <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span style="float:left;">
            邮箱
          </span>
          <span style="float:right;">
            {{userDetail.mail}}
          </span>
        </div>
      </a>
            <a class="item item-icon-right" >
          <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span style="float:left;">
            用户名
          </span>
          <span style="float:right;">
            {{userDetail.userName}}
          </span>
        </div>
      </a>
            <a class="item item-icon-right" >
          <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span style="float:left;">
            密码
          </span>
          <span style="float:right;">
            {{userDetail.password}}
          </span>
        </div>
      </a>
            <a class="item item-icon-right" >
          <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span style="float:left;">
            用户ID
          </span>
          <span style="float:right;">
            {{userDetail.userId}}
          </span>
        </div>
      </a>

    </div>
 </ion-content>
</ion-view>