<ion-view title="个人信息">
  <ion-content >
  	<div class="list myDetail">

  		<a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
  			<div>

          <span >
            <img src="{{vm.my_profile.User.image}}"/>


          </span>
        </div>
  		</a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span class="left">
            昵称
          </span>
          <span class="right">
            {{vm.my_profile.User.nickname}}
          </span>
        </div>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span class="left">
            性别
          </span>
          <span class="right">
            {{vm.my_profile.User.sex==0?'女':'男'}}
          </span>
        </div>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span class="left">
            单位
          </span>
          <span class="right">
            {{vm.my_profile.User.companies}}
          </span>
        </div>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span class="left">
            个性签名
          </span>
          <span class="right">
            {{vm.my_profile.User.bio}}
          </span>
        </div>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span class="left">
            手机号
          </span>
          <span class="right">
            {{vm.my_profile.User.mobilephone}}
          </span>
        </div>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span class="left">
            邮箱
          </span>
          <span class="right">
            {{vm.my_profile.User.email}}
          </span>
        </div>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span class="left">
            用户名
          </span>
          <span class="right">
            {{vm.my_profile.User.username}}
          </span>
        </div>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        <div>
          <span class="left">
            用户ID
          </span>
          <span class="right">
            {{vm.my_profile.User.id}}
          </span>
        </div>
      </a>

    </div>
 </ion-content>
</ion-view>