<ion-view title="个人信息">
  <ion-content >
  	<div class="list myDetail">
  		<a class="item item-avatar-right" >
        头像
        <img src="{{vm.user.image}}"/>
  		</a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        昵称
        <span class="item-note">
          {{vm.user.nickname}}
        </span>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        性别
        <span class="item-note">
          {{vm.user.sex==0?'女':'男'}}
        </span>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        单位
        <span class="item-note">
          {{vm.user.companies}}
        </span>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        个性签名
        <span class="item-note">
          {{vm.user.bio}}
        </span>
      </a>
  
      <div class="item item-divider"></div>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        手机号
        <span class="item-note">
          {{vm.user.mobilephone}}
        </span>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        邮箱
        <span class="item-note">
          {{vm.user.email}}
        </span>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        用户名
        <span class="item-note">
          {{vm.user.username}}
        </span>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        用户ID
        <span class="item-note">
          {{vm.user.id}}
        </span>
      </a>
  
      <div class="item item-divider"></div>
      <a class="item" ng-click="vm.logout()">
        退出登录
      </a>
    </div>
 </ion-content>
</ion-view>