<ion-view title="关于朋友说" hide-back-button='true'>
   <ion-nav-buttons side="left">
    <button class="button button-clear back-button" ng-click="$ionicGoBack($event)">
      <i class="icon ion-ios-arrow-left"></i>返回
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <img src="http://www.tongshijia.com/img/logo_footer.jpg" border="0">
    <br><br>
    [朋友说] 朋友间分享健康美食的平台
    <br><br>
    <div class="item">
      商务电话: 
      <a href="tel:{{::config.app.bizline}}" class="item-note" ng-bind="::config.app.bizline"></a>
    </div>
    
    <div class="item">
      客服电话
      <a href="tel:{{::config.app.hotline}}" class="item-note" ng-bind="::config.app.hotline"></a>  
    </div>

    <div class="item-divider"></div>
    <div class="item" ng-click="vm.toggleLogMode()">
      版本号
      <span class="item-note" ng-bind="vm.version"></span>
    </div>

    <div class="item item-divider" ng-show="vm.logMode"></div>
    <a class="item item-icon-right" ui-sref="product-detail({id: 220,from:-1})" ng-show="vm.logMode">
      <i class="icon ion-ios7-arrow-right"></i>
      1分钱产品
    </a>
    <a class="item item-icon-right" ui-sref="my-messages" ng-show="vm.logMode">
      <i class="icon ion-ios7-arrow-right"></i>
      查看日志
    </a>
 </ion-content>
</ion-view>