<ion-view title="我的信息">
  <ion-content >
  	<div class="list">
  		<a class="item item-icon-right" ui-sref="app.my-detail" >
	        <i class="icon ion-ios7-arrow-right"></i>
	  		<img src="none"/>
	  		{{userDetail.userName}}
        </a>
  		<a class="item item-icon-right" >
        	<i class="icon ion-ios7-arrow-right"></i>
  			全部订单
  		</a>
  		<a class="item item-icon-right" ui-sref="tab.my-carts">
        	<i class="icon ion-ios7-arrow-right"></i>
  			购物车
  		</a>
  		<a class="item item-icon-right" >
        	<i class="icon ion-ios7-arrow-right"></i>
  			优惠券
  		</a>
  		<a class="item item-icon-right" >
        	<i class="icon ion-ios7-arrow-right"></i>
  			我的红包
  		</a>
  		<a class="item item-icon-right" ui-sref="tab.my-detail" >
        	<i class="icon ion-ios7-arrow-right"></i>
  			我的资料
  		</a>
  		<a class="item item-icon-right" >
        	<i class="icon ion-ios7-arrow-right"></i>
  			退出登录
  		</a>
  		<div class="item">
  		</div>
  		<a class="item item-icon-right" ui-sref="tab.my-addresses-info" >
        	<i class="icon ion-ios7-arrow-right"></i>
  			收货地址设置
  		</a>
    </div>
 </ion-content>
</ion-view>