<ion-view title="红包" hide-tabs>
  <ion-content >
    <div class="list">

      <div class="item" ng-repeat="item in vm.sharedOffers" ng-cloak>
          <div class="row">
            <div class="col col-25">
              {{(item.SharedOffer.total_number / 100) | currency:'￥'}}
            </div>
            <div class="col-50">
              <div>
               
                {{item.SharedOffer.name}}
              </div>
              <div>
                {{item.SharedOffer.start}}前有效</p>
              </div>
            </div>
            <div class="col">
              <div class="button {{vm.isOfferValid(item)?'button-assertive':'button-static'}}"   >
                {{vm.isOfferValid(item)?'去使用':vm.getOfferDesc(item)}}
              </div>
            </div>
          </div>
      </div>

    </div>

  </ion-content>
</ion-view>