<ion-view title="结算">
  <ion-content >

  <a ng-click="vm.goBack();">sdf</a>
    <div class="my-order-info">
      <a ui-sref="app.my-addresses-info-s({state:1,addrId:57})">go</a>
      <h2>
        收货人信息
      </h2>
      常用地址
      <p/>
      <div class="list">
        <div ng-show="vm.isAddressShow(address)" class="item"  ng-repeat="address in vm.addresses" ng-click="" ui-sref="app.order-addresses-info({state:1,addrId:address.OrderConsignees.id})" > 
          <div class="item-content" >
            {{address.OrderConsignees.name}}({{address.OrderConsignees.mobilephone}})
          </div>
          <div > 
            {{address.OrderConsignees.area}}{{address.OrderConsignees.address}}
          </div>
        </div>
      </div>
      <hr class="devide_line"/>
      <div class="cart_border cart_item">
        <div ng-repeat="item in vm.CartInfo.cart.brandItems" >
          <div class="row">
            <div class="col col-33">
              <img class="img" src="{{vm.loadBrandById(item.id).Brand.coverimg}}"/>
            </div>
            <div class="col">
              <h4>分享人： {{vm.loadBrandById(item.id).Brand.name}}</h4>
              {{vm.loadBrandById(item.id).Brand.notice}}
            </div>
          </div>
          <div class="list">
            <div class="row" ng-repeat="product in item.items">

              <div class="col col-33">
                {{product.name}}
              </div>
              <div class="col col-33">
                单价： {{product.price | currency:'￥'}}
              </div>
              <div class="col col-10">
                X {{product.num}}
              </div>
              <div class="col">
                {{product.price * product.num | currency:'￥'}}
              </div>
            </div>
          </div>
          <div>
            <label class="item item-input">
              <textarea ng-model="vm.loadBrandById(item.id).Brand['remark']" placeholder="给分享人留言"></textarea>

            </label>
            <p/>
          </div>
        </div>
      </div>
      <div class="coupon">
        <span>
          <textarea placeholder="使用优惠码" ng-model="vm.coupon_code_t"></textarea>

     
          <a class="button button-assertive"  ng-click="vm.confirmCoupon_code();">
          应用
          </a>
        </span>
      </div>

      <div class="bottom_div">
        <div>
          已优惠：{{vm.CartInfo.reduced | currency:'￥'}}
        </div>
        <div>
          运费：{{vm.getTotalShipFees() | currency:'￥'}}
        </div>
        <div class="total_price">
          总价（含运费）：{{vm.CartInfo.total_price | currency:'￥'}}
        </div>
        <a class="button button-assertive" ng-click="vm.confirmCartInfo();">
          提交订单
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>