<ion-view title="结算">
  <ion-content >
    <h2>
      收货人信息
    </h2>
    常用地址
    <p/>
    <div class="list">
      <div ng-click="values.accessDivVisible=false;">
          <label class="item item-radio"  ng-repeat="address in vm.addresses" ng-click="values.accessSelectedIndex=$index;" > 
            <input type="radio" name="group" />
    
            <div class="item-content" >
              {{address.OrderConsignees.name}}({{address.telephone}})
            </div>
            <div > 
              {{address.region_1 + address.region_2 + address.region_3}}
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>
        <label class="item item-radio" ng-click="values.accessDivVisible=true">
          <input type="radio" name="group"/>
          <div class="item-content">
            使用新地址
          </div>

          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>
      <div ng-show="values.accessDivVisible">
        <div class="row">
          <div class="col col-25" >
            收货人
          </div>
          <div class="col">
            <input style="text"/>
          </div>

        </div>
        <div class="row">
          <div class="col col-25" >
            地区
          </div>
          <div class="col">
            
            <div >
              <select id="selectRegion_1" ng-model="vm.provinceModel" ng-options="m.name for m in vm.provinces" ng-change="region_2_model='';region_3_model='';vm.getCities(vm.provinceModel.id);">
                <option value="">-- 请选择 --</option>
  
              </select>
            </div>
        
            
            <div >
              <select id="selectRegion_2" ng-model="vm.cityModel" ng-options="m.name for m in vm.cities" ng-change="region_3_model='';vm.getCounties(vm.cityModel.id);">
                <option value="">-- 请选择 --</option>
              </select>
            </div>
    
            <div >
              <select id="selectRegion_3" ng-model="vm.countyModel" ng-options="m.name for m in vm.counties" ng-change="">
                <option value="">-- 请选择 --</option>
              </select>
            </div>
  
          </div>
        </div>
        <div class="row">
          <div class="col col-25" >
            详细地址
          </div>
          <div class="col">
            <input style="text"/>
          </div>

        </div>
        <div class="row">
          <div class="col col-25" >
            手机
          </div>
          <div class="col">
            <input style="text"/>
          </div>  
        </div>
        <div class="row">
          <button class="button button-assertive">
            保存收货人信息
          </button>
        </div>
      </div>
      <hr style="margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #eee;"/>
      <div style="padding-left:10px;padding-right:10px;border:3px solid #aaaaaa; ">
      <div ng-repeat="item in order.products" >
        <div>
          <h4>
            分享人： {{item.userName}}
          </h4>
        </div>
        <div class="list">
          <div class="row">
            <div class="col col-33">
              {{item.title}}
            </div>
            <div class="col col-33">
              单价： {{item.price | currency:'￥'}}
            </div>
            <div class="col col-10">
              X {{item.count}}
            </div>
            <div class="col">
              {{item.price * item.count | currency:'￥'}}
            </div>
          </div>
        </div>
        <div>
          <label class="item item-input">
            <textarea ng-model="item.message" placeholder="给分享人留言"></textarea>

          </label>
          <p/>
        </div>
      </div>
    </div>
    <div style="padding-top:20px;">
      <label class="item item-input">
        <textarea placeholder="使用优惠码" ng-model="order.promotionCode"></textarea>
        <button class="button button-assertive">
          应用
        </button>
      </label>
    </div>

    <div style="padding-top:20px;">
      <div>
        以优惠：{{order.privilege | currency:'￥'}}
      </div>
      <div>
        运费：{{order.freight | currency:'￥'}}
      </div>
      <div style='color:red;'>
        总价（含运费）：{{getTotallPrice() + order.freight - order.privilege | currency:'￥'}}
      </div>
      <button class="button button-assertive">
        提交订单
      </button>
    </div>
  </ion-content>
</ion-view>