<ion-view title="订单详情" class="order-detail" show-tabs>
  <ion-content class="list">
    <div class="item">
      <div>收货地址</div> 
      <div class="text-sub-muted">
        {{vm.order.Order.consignee_area}}{{vm.order.Order.consignee_address}}
      </div>
      <span class="text-sub-muted">
      {{vm.order.Order.consignee_name}}
      </span>
      <span class="text-sub-muted">
        {{vm.order.Order.consignee_mobilephone}}
      </span>
    </div>
    <div class="item item-avatar item-icon-right">
      <img src="{{vm.store.coverimg}}"/>
      <i class="icon ion-ios7-arrow-right"></i>
      <div>{{vm.store.name}}</div>
    </div>
    <div class="item">
      订单状态：<span class="text-energized">{{vm.orderState.name}}</span>
    </div>
    <a class="item item-avatar item-avatar-big item-icon-right" ng-repeat="item in vm.cartItems">
      <img src="{{item.Cart.coverimg}}"/>
      <i class="icon ion-ios7-arrow-right"></i>
      <div>{{item.Cart.name}}</div>
      <div class="text-sub-muted">
        价格：{{item.Cart.price | currency:'￥'}}&nbsp;数量：{{item.Cart.num}}
      </div>
      <div class="text-sub-muted" ng-show="!_.isEmpty(item.Cart.spec)">
        规则：{{item.Cart.spec}}
      </div>
    </a>
    <div class="item">
      运费：{{vm.order.Order.ship_fee | currency:'￥'}}
    </div>
    <div class="item">
      订单号：{{vm.order.Order.id}}
      <div class="text-sub-muted">
        下单时间：{{vm.order.Order.created}}
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <span class="title pl">
     合计：<span class="text-energized">{{vm.totalPrice | currency:'￥'}}</span>
    </span>
    <div class="buttons" ng-click="doSomething()">
      <button class="button" ng-really-click="vm.cancelOrder(vm.order)" ng-really-message="您确定要取消订单吗？">取消订单</button>
      <button class="button button-energized" ng-click="vm.aliPay()">支付</button>
    </div>
  </ion-footer-bar>
</ion-view>