<ion-view title="个人信息" hide-tabs>
  <ion-content >
  	<div class="list myDetail">
  		<a class="item item-avatar-right" ui-sref="app.my-profile-edit({state:'portrait'})">
        头像
        <img src="{{vm.user.image}}"/>
  		</a>

      <div class="item item-divider"></div>
      
      <a class="item item-icon-right" ui-sref="app.my-profile-edit({state:'nickname'})" >
        <i class="icon ion-ios7-arrow-right"></i>
        昵称
        <span class="item-note">
          {{vm.user.nickname}}
        </span>
      </a>
      <a class="item item-icon-right" ui-sref="app.my-profile-edit({state:'sex'})" >
        <i class="icon ion-ios7-arrow-right"></i>
        性别
        <span class="item-note">
          {{vm.user.sex==0?'女':'男'}}
        </span>
      </a>
       <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        手机
        <span class="item-note">
          {{vm.user.mobilephone}}
        </span>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        邮箱
        <span class="item-note">
          {{vm.user.email}}
        </span>
      </a>
      <a class="item item-icon-right" >
        <i class="icon ion-ios7-arrow-right"></i>
        用户ID
        <span class="item-note">
          {{vm.user.id}}
        </span>
      </a>

      <div class="item item-divider"></div>

      <a class="item item-icon-right" ui-sref="app.my-profile-edit({state:'bio'})" >
        <i class="icon ion-ios7-arrow-right"></i>
        个性签名
        <span class="item-note">
          {{vm.user.bio}}
        </span>
      </a>
  
      <div class="item item-divider"></div>
  
      <div class="item item-divider"></div>
      <span class="item padding">
        <button class="button button-block button-energized" ng-click="vm.logout()">退出登录</button>
      </span>
    </div>
 </ion-content>
</ion-view>