<ion-view title="个人信息" hide-tabs>
  <ion-content >
  	<div class="list my-profile" ng-cloak>
  		<a class="item" style="line-height: 4.375em">
        头像
        <span class="icon pys-350 icon-avatar fr"></span>
  		</a>

      <div class="item item-divider"></div>
      
      <a class="item item-icon-right" ui-sref="app.my-profile-nickname">
        <i class="icon ion-ios7-arrow-right"></i>
        昵称
        <span class="item-note">
          {{vm.user.nickname}}
        </span>
      </a>
      <a class="item item-icon-right" ui-sref="app.my-profile-sex" >
        <i class="icon ion-ios7-arrow-right"></i>
        性别
        <span class="item-note">
          {{vm.user.sex==0 ? '女':'男'}}
        </span>
      </a>
       <a class="item item-icon-right" ui-sref="app.my-profile-mobilephone">
        <i class="icon ion-ios7-arrow-right"></i>
        手机
        <span class="item-note">
          {{vm.user.mobilephone}}
        </span>
      </a>
      <a class="item item-icon-right" ui-sref="app.my-profile-email">
        <i class="icon ion-ios7-arrow-right"></i>
        邮箱
        <span class="item-note">
          {{vm.user.email}}
        </span>
      </a>
      <a class="item">
        用户ID
        <span class="item-note">
          {{vm.user.id}}
        </span>
      </a>

      <div class="item item-divider" ng-show="false"></div>
      <a class="item item-icon-right" ng-show="false">
        <i class="icon ion-ios7-arrow-right"></i>
        修改密码
        <span class="item-note">
          {{vm.user.bio}}
        </span>
      </a>
      
      <div class="padding">
        <button class="button button-block button-energized" ng-click="vm.logout()">退出登录</button>
      </div>
    </div>
 </ion-content>
</ion-view>