<ion-view title="{{vm.profileStatus.desc}}" hide-tabs>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="vm.saveProfile()">保存</button>
  </ion-nav-buttons>
  <ion-content >
    <div>
      <div ng-show="vm.state == 'image'">
        img
      </div>
      <label class="item item-input" ng-show="vm.state == 'nickname'">
        <input type="text" placeholder="{{vm.profileStatus.desc}}" ng-model="vm.profile.nickname">
      </label>
      <div class="list" ng-show="vm.state == 'sex'">
        <label class="item item-radio">
          <input type="radio" name="sex" ng-checked="vm.profile.sex != 0" ng-model="vm.profile.sex" ng-value="1">
          <div class="item-content">
            男
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="sex" ng-checked="vm.profile.sex == 0" ng-model="vm.profile.sex"  ng-value="0">
          <div class="item-content">
            女
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>

      <label class="item item-input" ng-show="vm.state == 'email'">
        <input type="text" placeholder="{{vm.profileStatus.desc}}" ng-model="vm.profile.email">
      </label>
      <label class="item item-input" ng-show="vm.state == 'mobilephone'">
        <input type="text" placeholder="{{vm.profileStatus.desc}}" ng-model="vm.profile.mobilephone">
      </label>
    </div>
 </ion-content>
</ion-view>

