<ion-view title="朋友说">
  <ion-content class="list my">
    <a class="item item-icon-right" ui-sref="app.my-detail">
      <i class="icon ion-ios7-arrow-right"></i>
      账号
    </a>
    <a href="#" class="item head">
      <span class="fl">
        <img class="fr" src="{{vm.image}}">
      </span>
      <span class="name fl">{{vm.nickname}}</span>
      <span class="fr more"></span>
    </a>

    <div class="item item-divider"></div>
    <a class="item item-icon-right" ui-sref="app.my-orders.total">
      <i class="icon ion-ios7-arrow-right"></i>
      订单
    </a>
    <a class="item item-icon-right" ui-sref="app.my-coupons">
      <i class="icon ion-ios7-arrow-right"></i>
      优惠券
    </a>
    <a class="item item-icon-right" ui-sref="app.my-offers">
      <i class="icon ion-ios7-arrow-right"></i>
      红包
    </a>
    <div class="item item-divider"></div>
    <a class="item item-icon-right" ui-sref="app.my-addresses-info">
      <i class="icon ion-ios7-arrow-right"></i>
      收货地址
    </a>
    <div class="item item-divider"></div>
    <a class="item item-icon-right" ui-sref="app.my-ilegong">
      <i class="icon ion-ios7-arrow-right"></i>
      关于朋友说
    </a>
 </ion-content>
</ion-view>
