<ion-view title="朋友说" hide-back-button='true' hide-nav-bar="true" show-tabs>
  <ion-content class="my">
    <div class="profile" >
      <div class="account row">
        <span class="col"></span>
        <a class="col" ng-click="vm.profileClick()" ng-show="vm.loggedIn">
          <span class="avatar"></span>
          
          <span class="mobile">{{vm.user.nickname}}</span>
        </a>
        <span class="col" ng-show="!vm.loggedIn">
          <button class="button-login button button-outline" ui-sref="account-login">
            登录/注册
          </button>
        </span>
        <span class="col"></span>
      </div>
      <div class="orders row" style="padding: 0">
        <div class="bg"></div>
        <div class="order col" ng-click="vm.toOrders(pendingState.orderState.state);" ng-repeat="pendingState in vm.pendingStates">
          <span ng-class="{'badge badge-assertive': pendingState.orders.length > 0}">{{pendingState.orders.length}}</span> <br/>
          {{pendingState.orderState.name}}
        </div>
      </div>
    </div>
    <div class="details">
      <div class="item item-divider"></div>
      <a class="item item-icon-left item-icon-right" ng-click="vm.toOrders(-1);">
        <span class="icon pys-400 icon-my-order"></span>
        <i class="icon ion-ios7-arrow-right"></i>
        我的订单
      </a>
      <a class="item item-icon-left item-icon-right" ng-click="vm.toCoupons();" >
        <span class="icon pys-400 icon-my-coupon"></span>
        <i class="icon ion-ios7-arrow-right"></i>
        我的优惠券
      </a>

      <div class="item item-divider" ng-show="false"></div>
      <a class="item item-icon-left item-icon-right" ng-show="false" ng-click="vm.toOffer();" >
        <span class="icon pys-400 icon-my-offer"></span>
        <i class="icon ion-ios7-arrow-right"></i>
        我要发红包
      </a>

      <div class="item item-divider"></div>
      <a class="item item-icon-left item-icon-right" ng-click="vm.toAddresses();" >
        <span class="icon pys-400 icon-my-address"></span>
        <i class="icon ion-ios7-arrow-right"></i>
        地址管理
      </a>

      <div class="item item-divider"></div>
      <a class="item item-icon-right" ui-sref="product-detail.intro({id: 220,from:-1})">
        <i class="icon ion-ios7-arrow-right"></i>
        1分钱产品
      </a>

      <div class="item item-divider"></div>
      <a class="item item-icon-right" ui-sref="app.my-ilegong">
        <i class="icon ion-ios7-arrow-right"></i>
        关于朋友说
      </a>
    </div>
 </ion-content>
</ion-view>
