<ion-view title="账号密码登陆">
  <ion-content class="my">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">用户名</span>
        <input type="text" placeholder="用户名">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">密码</span>
        <input type="text" placeholder="密码">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive">登陆</button>
      <button class="button button-block button-light">注册</button>
    </div>
 </ion-content>
</ion-view>
