<ion-view title="{{vm.sub_title}}">
  <ion-content class='padding category'>
    <div class='list'>
      <div class="row" ng-repeat="product in vm.products" ng-if="$index % 2 == 0">
        <div class='product card col col-50' ng-repeat="product in vm.products.slice($index, $index+2)" ng-init="brand=vm.brands[product.brand_id].Brand">
          <a ui-sref="app.product-detail.intro({id: product.id})">
            <div class="item item-image">

              <img title="{{product.title}}" src="{{product.coverimg}}">
            </div>
            <div class='item product-name'>
              {{product.name}}
            </div>
          </a>
          <div class='item item-avatar'>
            <a ui-sref="app.product-detail.intro({id: product.id})">
              <img class='item-image' src="{{brand.coverimg}}">
            </a>
            <a ui-sref="app.product-detail.intro({id: product.id})">
              <div class='brand-name'>{{brand.name}}</div>
            </a>
            <div class='prices'>
              <span class='price-current'>¥{{product.price}}</span>
              <span class="price-original" ng-show="product.original_price">¥{{product.original_price}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>