<ion-view title="订单详情" class="order-detail" hide-back-button='true'>
   <ion-nav-buttons side="left">
    <button class="button button-clear back-button" ng-click="$ionicGoBack($event)">
      <i class="icon ion-ios7-arrow-left"></i>返回
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="item">
      <div>收货地址</div> 
      <div class="nowrap text-sub-muted">
        <span ng-bind="::vm.order.Order.consignee_area"></span><span ng-bind="::vm.order.Order.consignee_address"></span>
      </div>
      <span class="nowrap text-sub-muted">
      <span class="padding-right-10" ng-bind="::vm.order.Order.consignee_name"></span><span ng-bind="::vm.order.Order.consignee_mobilephone"></span>
      </span>
    </div>
    <a class="item item-avatar-left item-icon-right row" ng-click="vm.toStoreHomePage(vm.store)">
      <img src="{{::vm.store.coverimg}}" class="r5"/>
      <i class="icon ion-ios7-arrow-right"></i>
      <div class="nowrap col col-center" ng-bind="::vm.store.name"></div>
      <div class="button button-outline button-balanced button-short" ng-click="vm.callHotline(); $event.stopPropagation();" >
        服务电话
      </div>
    </a>
    <div class="item">
      订单状态：<span class="text-energized" ng-bind="vm.orderState.name"></span>
    </div>
    <a class="item item-thumbnail-left item-icon-right"  ng-repeat="item in ::vm.cartItems" ng-click="vm.toProductDetailPage(item);">
      <img src="{{::item.Cart.coverimg}}"/>
      <i class="icon ion-ios7-arrow-right"></i>
      <div class="nowrap padding-bottom-5" ng-bind="::item.Cart.name"></div>
      <div class="nowrap text-sub-muted">
        价格：<span class="padding-right-10" ng-bind="::item.Cart.price | currency:'￥'"></span>数量：<span ng-bind="::item.Cart.num"></span>
      </div>
      <div class="nowrap text-sub-muted" ng-show="::!_.isEmpty(item.Cart.spec)">
        规格：<span ng-bind="::item.Cart.spec"></span>
      </div>
    </a>
    <div class="item">
      运费：<span ng-bind="vm.getShipFee(vm.order)"></span>
    </div>
    <div class="item">
      <div class="fl">
        订单号：<span ng-bind="::vm.order.Order.id"></span>
        <div class="nowrap text-sub-muted">
          下单时间：<span ng-bind="::vm.order.Order.created"></span>
        </div>
        <div class="nowrap text-sub-muted" ng-show="vm.hasPaid">
          支付时间：<span ng-bind="vm.order.Order.pay_time"></span>
        </div>
      </div>
<!--       <a class="button fr" ng-if="vm.order.Order.status == 2" ng-disabled="true" ng-click="vm.viewLogistics()">查看物流</a> -->
    </div>
  </ion-content>
  <ion-footer-bar class="row" ng-switch="vm.order.Order.status">
    <span class="col text-16 padding-top-bottom-10">
      合计：<strong class="text-18 text-energized" ng-bind="::vm.order.Order.total_all_price | currency:'￥'"></strong>
    </span>

    <a class="button button-outline button-grey" ng-really-click="vm.cancelOrder(vm.order)" ng-really-message="您确定要取消订单吗？" ng-switch-when="0" style="margin-left: 0.5em;"><strong>取消订单</strong></a>
    <a class="button button-energized button-20" ng-click="vm.aliPay()" ng-switch-when="0" style="margin-left: 0.5em;"><strong>支付</strong></a>

    <a class="button button-outline button-grey" ng-switch-when="1" ng-click="vm.remindSendingGoods(vm.order)" style="margin-left: 0.5em;"><strong>提醒发货</strong></a>

    <a class="button button-energized" ng-switch-when="2" ng-really-click="vm.confirmReceivingGoods(vm.order)" ng-really-message="您确定收到货了吗？" style="margin-left: 0.5em;"><strong>确认收货</strong></a>

    <a class="button button-outline button-grey" ng-switch-when="4" ng-click="vm.removeOrder(vm.order)">删除订单</a>
    <a class="button button-outline button-grey" ng-switch-when="10" ng-click="vm.removeOrder(vm.order)">删除订单</a>
  </ion-footer-bar>
</ion-view>
